<!doctype html>
{%if MLM_LANG_CODE =='en' %} 
    <html class="no-js" lang="en">
    {%elseif MLM_LANG_CODE =='ar' %}
        <html dir="rtl">
        {% endif %}

        <head>
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="robots" content="noindex, follow" />
            <base href="{{BASE_URL}}" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />

            <title>Mbay Online Shopping</title>
            <meta name="description" content="Free Web tutorials">
            <meta name="keywords" content="HTML, CSS, JavaScript">


            <!-- Favicon -->
            <link rel="icon" type="image/png" sizes="32x32" href="assets/images/{{COMPANY_FAV_ICON}}">
            <link rel="icon" type="image/png" sizes="16x16" href="assets/images/{{COMPANY_FAV_ICON}}">

            <!-- BASE CSS -->
            {%if MLM_LANG_CODE =='en' %}   
                <link rel="stylesheet" href="assets/shop/css/vendor/bootstrap.min.css" media="all">
                <link rel="stylesheet" href="assets/shop/css/style.css" media="all">
                <link rel="stylesheet" href="assets/shop/css/custom_style.css">
            {%elseif MLM_LANG_CODE =='ar' %}
                <link rel="stylesheet" href="assets/shop/css/vendor/bootstrap.rtl.min.css">
                <link rel="stylesheet" href="assets/shop/css/style_rtl.css">
                <link rel="stylesheet" href="assets/shop/css/custom_style_rtl.css">
            {% endif %}
            <link rel="stylesheet" href="assets/shop/css/vendor/simple-line-icons.css" media="all">
            <link rel="stylesheet" href="assets/shop/css/vendor/elegant.css">


            <!-- PAGE CSS -->
            <link rel="stylesheet" href="assets/shop/css/plugins/slick.css" media="all">
            <link rel="stylesheet" href="assets/shop/css/plugins/animate.css" media="all">
            <link rel="stylesheet" href="assets/shop/css/plugins/jquery-ui.css" media="all">
        <input type = "hidden" name = "path_root" id="path_root" value="{{BASE_URL}}"/>

    </head>

    <body>
        <div class="main-wrapper bg-gray-9">

            <!-- HEADER -->
            <header class="header-area">
                <div class="container">
                    <!-- PC HEADER -->
                    <div class="header-large-device">

                        <div class="header-top header-top-ptb-2 border-bottom-1">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-xl-2 col-lg-2">
                                    <div class="logo">
                                        <a href="{{BASE_URL}}index">
                                            <img src="assets/images/{{COMPANY_LOGO}}" alt="" height="52">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-2">
                                    <!-- PC VIEW SEARCH AREA -->
                                    <div class="mobile-view-search d-none d-md-none d-lg-none d-xl-block">
                                        <div class="input-group">
                                            <input type="text" class="form-control shadow-none" placeholder="What are you looking for?" aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                                <i class="icon-magnifier"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- END PC VIEW SEARCH AREA -->
                                </div>
                                <div class="col-xl-4 col-lg-5">

                                    <div class="header-top-right"> 
                                        {% if user_name %} 
                                            <div class="header-login-regi">
                                                <a href="{{BASE_URL}}login-site">
                                                    <i class="icon-user"></i> {{user_name}}
                                                </a>
                                            </div> 
                                        {% else %}
                                            <div class="header-login-regi">
                                                <a href="{{BASE_URL}}login-site">
                                                    <i class="icon-user"></i> Log In / Register </a>
                                            </div> 
                                        {% endif %}
                                        <!--language--> 
                                        {%if MLM_LANG_CODE =='en' %} 
                                            <div class="header-login-regi">
                                                <a href="javascript:;" onclick="switchLanguage('ar');" title="">عربى </a>
                                            </div> 
                                        {%elseif MLM_LANG_CODE =='ar' %} 
                                            <div class="header-login-regi">
                                                <a href="javascript:;" onclick="switchLanguage('en');" title="">English</a>
                                            </div> 
                                        {%endif%}
                                        <!--end language--> 

                                        <div class="header-cart-2">
                                            <a class="cart-active" href="{{BASE_URL}}cart">
                                                <i class="icon-basket-loaded"></i>
                                                <span class="black">{{pro_count}}</span>
                                            </a>
                                        </div>
                                    </div> 

                                </div>
                            </div>
                        </div>

                        <div class="header-bottom">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <div class="main-menu main-menu-padding-2 main-menu-center main-menu-font-width-400 main-menu-lh-1">
                                        <nav>
                                            <ul>
                                              <!-- <li><a href="{{BASE_URL}}shop">Smartphone </a></li> -->
                                              <!--  <li><a href="{{BASE_URL}}shop">Tablets </a></li><li><a href="{{BASE_URL}}shop">Accessories </a></li><li><a href="{{BASE_URL}}shop">Wearable Devices </a></li> --> {% for nav in nav_category %} <li>
                                                    <a href="{{BASE_URL}}shop/{{nav.id}}">{{nav.category}} </a>
                                                </li> {% endfor %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END PC HEADER -->

                    <!-- MOBILE HHEADER -->
                    <div class="header-small-device small-device-ptb-1">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <div class="mobile-logo">
                                    <a href="{{BASE_URL}}index">
                                        <img alt="" src="assets/shop/images/logo/mbay.svg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="header-action header-action-flex">
                                    <!--language-->
                                    <div class="same-style-wrap language-swicher">
                                        <div class="same-style same-style-border language-wrap">
                                            <a class="language-dropdown-active" href="#">{{MLM_LANG_CODE}}<i
                                                    class="icon-arrow-down"></i></a>
                                            <div class="language-dropdown">
                                                <ul>
                                                    {% if MLM_LANG_CODE %}
                                                        <li>

                                                            <a href="javascript:;" onclick="switchLanguage('en');">English</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" onclick="switchLanguage('ar');">العربية</a>
                                                        </li>
                                                    {%endif%}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end language-->
                                    <!--cart-->
                                    <div class="same-style-2 header-cart">
                                        <a class="cart-active" href="#">
                                            <i class="icon-basket-loaded"></i><span class="pro-count black">02</span>
                                        </a>
                                    </div>
                                    <!--end cart-->
                                    <div class="same-style-2 main-menu-icon">
                                        <a class="mobile-header-button-active" href="#"><i class="icon-menu"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MOBILE HHEADER -->

                </div>
            </header>
            <!-- END HEADER -->

            <!-- MOBILE MENU -->
            <div class="mobile-header-active mobile-header-wrapper-style">
                <div class="clickalbe-sidebar-wrap">
                    <a class="sidebar-close"><i class="icon_close"></i></a>
                    <div class="mobile-header-content-area">
                        <div class="mobile-menu-wrap mobile-header-padding-border-2">
                            <!-- mobile menu start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about-us">About</a></li>
                                    <li class="menu-item-has-children"><a href="#">Shop</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Smartphone </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact">Contact us</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu end -->
                        </div>
                        <div class="mobile-social-icon">
                            <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                            <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MOBILE MENU -->


            <!-- MOBILE VIEW SEARCH AREA -->
            <div class="mobile-view-search p-3 pt-0 d-block d-md-block d-lg-block d-xl-none">
                <div class="input-group">
                    <input type="text" class="form-control shadow-none" placeholder="What are you looking for?"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                            class="icon-magnifier"></i></button>
                </div>
            </div>
            <!-- END MOBILE VIEW SEARCH AREA -->
