{% include('layout/header.twig')%}

<style type="text/css">
    /*//for language change   */
    .dropdown-subview:after {
        right: auto !important;
        left: 105px !important;
    }
    .dropdown-subview:before {
        right: auto !important;
        left: 104px !important;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        background-color:transparent;
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color:transparent;
    }
</style>


<body class="login">
    <div id="js_messages" style="display: none;"> 
        <span id="new_password_req_js">{{lang('new_password_req_js')}}</span>
        <span id="min_6_js">{{lang('min_6_js')}}</span>
        <span id="confirm_password_req_js">{{lang('confirm_password_req_js')}}</span>
        <span id="pass_mismatch_js">{{lang('pass_mismatch_js')}}</span>
    </div>
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo">
                <img src="assets/images/logos/{{COMPANY_LOGO}}">
            </div>
            <div class="box-login">



                <div class="row">
                    <div  class="col-xs-6 col-sm-6 col-lg-6">
                        <h3>{{lang('reset_password')}}</h3>
                    </div>        
                    <div class="col-xs-6 col-sm-6 col-lg-6" style="hover:none;">
                        <p>
                        <div class="topbar-tools pull-right"  style="color:black !important;hover:none!important;">
                            <ul class="nav navbar-right">

                                {% if MULTI_LANG_STATUS %}
                                    <li class="dropdown current-user">
                                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="javascript:;"  title="Change Language"
                                           style="color: gray;" 
                                           >
                                            <img src="assets/images/flags/lang/{{MLM_LANG_FLAG}}" class="img-circle" alt="">
                                            <span class="username hidden-xs"><small>{{MLM_LANG_NAME|capitalize}}</small></span> <i class="fa fa-caret-down hidden-xs "></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-light dropdown-subview" >
                                            {% for LANGUAGE  in  MLM_LANG_LIST  %}
                                                <li onclick="switchLanguage('{{LANGUAGE.lang_code}}');">
                                                    <a href="javascript:;" >
                                                        {{LANGUAGE.lang_name}} 

                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                {% elseif GOOGLE_TRANSLATOR %}

                                    <li class="hidden-xs">
                                        <a  href="javascript:;"  title="Google Translate"  class="dropdown-toggle">
                                            <span id="google_translate_element"> </span>
                                        </a>
                                    </li> 

                                {% endif %} 

                            </ul>
                        </div>
                        </p>
                    </div>
                </div>

                {%include('admin/layout/notification.twig')%}
                {{ form_open('', 'class="form_reset" id="form_reset" name="form_reset"')|raw }}
                <div class="errorHandler alert alert-danger no-display">
                    <i class="fa fa-remove-sign"></i> {{lang('you_have_some_form_errors')}}
                </div>
                <fieldset>
                    <input type="hidden" name='user_id' value={{user_id}} />
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="{{lang('new_password')}}" required="" tabindex='1'/>
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="{{lang('confirm_password')}}" tabindex='2'/>
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-green pull-right" name="submit" id="submit" value="Reset">
                            {{lang('submit')}} <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </fieldset>
                {{form_close()|raw}}            
                <div class="copyright">
                    {{ "now"|date("Y") }} &copy; by {{COMPANY_NAME}}.
                </div>           
            </div>				
        </div>
    </div>
    {% include('layout/footer.twig')%}
    <script src="assets/js/employee_reset_pass.js">
    </script>
    <script>
        jQuery(document).ready(function () {
            runResetValidator();
        });
    </script>
