<!-- MAIN WRAPPER -->
<div class="main-wrapper bg-gray-9">
    {% include('shop/layout/header.twig')%}
<div id="js_messages" style="display: none;"> 
    <span id="email_req_js">{{lang('email_req_js')}}</span>
</div>
    <!-- Breadcrumb-area -->
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="{{BASE_URL}}index">Home</a>
                    </li>
                    <li class="active">Forgot Password</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb-area -->


    <!-- FORGOT PASSWORD -->
    <section class="breadcrumb-content text-center">
        <div class="container">
            <div class="row">
                <div class="main-login" style=" margin: 50px;display: flex;justify-content: center;align-items: center;">
                    <div class="logo">
                        <img src="assets/images/logos/{{COMPANY_LOGO}}">
                    </div>
                    <div class="box-login">
                        <div class="row">
                            <div  class="col-xs-6 col-sm-6 col-lg-7">
                                <h3>{{lang('forgot_password_heading')}}?</h3>
                            </div>        
                            <div class="col-xs-6 col-sm-6 col-lg-5" style="hover:none;">
                                <p>
                                <div class="topbar-tools pull-right"  style="color:black !important;hover:none!important;">
                                    <ul class="nav navbar-right">
                                        {% if MULTI_LANG_STATUS %}
                                            <li class="dropdown current-user">
                                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="javascript:;"  title="Change Language"
                                                   style="color: gray;" 
                                                   >
                                                    <img src="assets/images/flags/lang/{{MLM_LANG_FLAG}}" class="img-circle" alt="">
                                                    <span class="username hidden-xs"><small>{{MLM_LANG_NAME|capitalize}}</small></span> <i class="fa fa-caret-down hidden-xs "></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-light dropdown-subview" >
                                                    {% for LANGUAGE  in  MLM_LANG_LIST  %}
                                                        <li onclick="switchLanguage('{{LANGUAGE.lang_code}}');">
                                                            <a href="javascript:;" >
                                                                {{LANGUAGE.lang_name}} 

                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% elseif GOOGLE_TRANSLATOR %}
                                            <li class="hidden-xs">
                                                <a  href="javascript:;"  title="Google Translate"  class="dropdown-toggle">
                                                    <span id="google_translate_element"> </span>
                                                </a>
                                            </li> 
                                        {% endif %} 
                                    </ul>
                                </div>
                                </p>
                            </div>
                        </div>
                        <br>
                        <p>
                            {{lang('enter_your_username_or_email')}}
                        </p>
                        {%include('admin/layout/notification.twig')%}
                        {{ form_open('', 'class="forgot_form" id="forgot_form" name="forgot_form"')|raw }}
                        {% if form.vars.errors is not empty %}
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-remove-sign"></i> {{lang('you_have_some_form_errors')}}
                        </div>
                        {%endif%}
                        <fieldset>
                            <div class="form-group">
                                <span class="input-icon">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="{{lang('login_identity_label')}}" tabindex='1'>
                                    <i class="fa fa-envelope"></i> </span>
                            </div>
                            <br>
                            <div class="form-actions">
                                <a class="btn btn-light-grey go-back" style="background: white;" href="login-site">
                                    <i class="fa fa-chevron-circle-left"></i> {{lang('login')}}
                                </a>
                                <button type="submit" class="btn btn-green pull-right" style="background: white;" name="for_pass" id="for_pass" value="Submit">
                                    {{lang('submit')}} <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </fieldset>
                        {{form_close()|raw}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FORGOT PASSWORD -->
    {% include('shop/layout/footer.twig')%}

</div>
<!-- END MAIN WRAPPER -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
<script>
    $.validator.addMethod("validUsername", function () {
        var isSuccess = false;
        $.ajax({url: "login/validate_user",
            data: {username: $("#email").val()},
            async: false,
            success:
                    function (msg) {
                        isSuccess = msg === "yes" ? true : false
                    }
        });
        return isSuccess;
    }, "Sorry, Invalid username");

    var runForgotValidatorr = function () {
        var form = $('#forgot_form');
        var errorHandler2 = $('.errorHandler', form);
        var successHandler2 = $('.successHandler', form);
        form.validate({
            errorElement: "div", // contain the error msg in a span tag
            errorClass: 'invalid-feedback',
            errorPlacement: function (error, element) { // render error placement for each input type
                
                error.appendTo($(element).closest('.form-group'));
            },
            ignore: "",
            rules: {
                email: {
                    required: true,
                    validUsername: true
                }
            },
            messages: {
                email: {
                    required: $('#email_req_js').html(),
                    validUsername: $('#email_inv_js').html()
                }
            },
            invalidHandler: function (event, validator) {
                successHandler2.hide();
                errorHandler2.show();
            },
            highlight: function (element) {
                $(element).closest('.form-control').removeClass('is-invalid');
                //display Checkbox invalid Data
                $(element).closest('.checkbox').removeClass('is-invalid').addClass('is-valid');
                // display OK icon
                $(element).closest('.form-control').removeClass('is-valid').addClass('is-invalid').find('.symbol').removeClass('ok').addClass('required');
                // add the Bootstrap error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                //display Checkbox invalid Data

                $(element).closest('.checkbox').removeClass('is-invalid').addClass('is-valid');
                $(element).closest('.form-control').removeClass('is-invalid').addClass('is-valid').find('.symbol').removeClass('ok').addClass('required');
                // set error class to the control group
            },
            success: function (label, element) {
                //display Checkbox invalid Data
                $(element).closest('.checkbox').removeClass('is-invalid').addClass('is-valid');
                $(element).closest('.form-control').removeClass('is-invalid').addClass('is-valid').find('.symbol').removeClass('ok').addClass('required');
                // mark the current input as valid and display OK icon
            },
            submitHandler: function (form) {
                successHandler2.show();
                errorHandler2.hide();
                form.submit();
            }
        });
    };
</script>
<script>
    $(document).ready(function () {
        runForgotValidatorr();
    });
</script>


