{% include('admin/layout/header.twig')%}
<div id="js_messages" style="display: none;"> 
    <span id="mail_subject_req_js">{{lang('mail_subject_req_js')}}</span>
    <span id="mail_content_req_js">{{lang('mail_content_req_js')}}</span>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('terms_condition')}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <div class="tabbable">
                    <ul id="myTab" class="nav nav-tabs">
                        {% for sm in sys_mails %}
                            <li {% if sm.active %} class="dropdown active " {% else %} class="dropdown" {% endif %} >
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {{lang(sm.type)}} <i class="fa fa-caret-down width-auto"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-info">
                                    {% for mc in sm.contents %}
                                        <li {% if mc.active %} class="active" {%endif%}>
                                            <a href="javascript:#myTab_example{{sm.id}}{{mc.id}}" data-toggle="tab">
                                                {{ lang(mc['lang_name']) }}
                                            </a>
                                        </li>

                                    {% endfor %}                                    
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for sm in sys_mails %}

                            {% for mc in sm.contents %}

                                <div {% if mc.active %} class ="tab-pane fade in active " {% else %} class="tab-pane fade " {% endif %} id="myTab_example{{sm.id}}{{mc.id}}">

                                    <h4 align="center"><span class="text-bold" align="center">{{lang(sm.type)}}&nbsp;-&nbsp; {{ lang(mc['lang_name']) }} </span></h4>
                                    {{form_open("",mc.form)|raw}}
                                    <input type="hidden" name="type" value="{{sm.type}}"/>
                                    <div class="form-horizontal">

                                        <div class='form-group'>
                                            <label class="col-sm-2 control-label">{{lang(sm.type)}}<i class='symbol required'></i>:</label>
                                            <div class="col-sm-10">
                                                <textarea class="ckeditor"  rows="5" cols="10" name='mail_content' id='mail_content_{{sm.type}}_{{ mc.id }}'>{{mc[sm.type]}}</textarea>
                                                {% if content_id==mc.id and error.mail_content is defined %}<code> {{ error.mail_content }} </code> {% endif %} 
                                            </div>
                                        </div>


                                        <div class='form-action'>
                                            <div class="col-sm-offset-4">
                                                <button type='submit' name='update_mail_content' id='update_mail_content' class='btn btn-primary' value="{{mc.id}}" onClick="valTermsAndCondition('{{sm.type}}',{{mc.id}} )">{{lang('update')}} <i class='fa fa-check-circle'></i>
                                                </button>
                                            </div>
                                        </div>  
                                    </div>
                                    {{form_close()|raw}}                                    
                                </div>


                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>
{% include('admin/layout/footer.twig')%}
<script src="assets/plugins/ckeditor/ckeditor.js"></script>
<script src="assets/js/terms_and_conditions.js"></script>