{% include('admin/layout/header.twig')%}
<link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="assets/css/shCore.css">
<script type="text/javascript" language="javascript" src="assets/js/jquery.dataTables.js">
</script>
<script type="text/javascript" language="javascript" src="assets/js/shCore.js">
</script> 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>

<script type="text/javascript" language="javascript" src="assets/js/lead_datatable.js">
</script>
{% for inv in investments %}
    <script type="text/javascript" language="javascript" class="init">

        $(document).ready(function () {
            var oTable = $('#inv_{{ inv.category_id }}').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "admin/wallet/inv_history/{{ inv.category_id }}",
                "dataType": "json",
                "order": [[ 4, "desc" ]],
                "type": "POST",
                "data": {'{{ CSRF_TOKEN_NAME }}': '{{ CSRF_TOKEN_VALUE }}'},
            "lengthMenu": [[10, 50,100,500,1000], [10,50,100,500,1000]],
            });
        });
    </script>
{% endfor %}
<div id="js_messages" style="display: none;"> 
    <span id="username_req_js">{{lang('username_req_js')}}</span>
    <span id="inv_username_js">{{lang('inv_username_js')}}</span>   
    <span id="to_date_req_js">{{lang('to_date_req_js')}}</span>
    <span id="to_date_gt_from_date_js">{{lang('to_date_gt_from_date_js')}}</span>  
    <span id="from_date_req_js">{{lang('from_date_req_js')}}</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('investment_history')}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>   

                <div class="tabbable">
                    <ul id="myTab2" class="nav nav-tabs">
                        {% for inv in investments %}
                            <li {%if inv.active %} class="active" {%endif%}>
                                <a href="javascript:#inv_tab{{inv.category_id}}" data-toggle="tab">
                                    {{inv.name}} <span class="badge badge-danger">{{inv.count}}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for inv in investments %}
                            <div {%if inv.active %} class="tab-pane fade in active" {%else%} class="tab-pane fade"{%endif%}  id="inv_tab{{inv.category_id}}">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped" id="inv_{{ inv.category_id }}">
                                    <thead>
                                        <tr>                                    
                                            <th>{{lang('slno')}}</th>
                                            <th>{{lang('username')}}</th>
                                            <th>{{lang('pay_amount')}}</th>
                                            <th>{{lang('product_name')}}</th>
                                            <th>{{lang('date')}}</th>
                                        </tr>
                                    </thead>                            
                                </table>                                        
                            </div>  
                            </div>  
                        {% endfor %}                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include('admin/layout/footer.twig')%}
<style>
    table.dataTable thead th{border-bottom:1px #111}
    table.dataTable.no-footer{border-bottom:1px #dfe1e5 solid}
</style>
