{% include('admin/partials/head-main.twig')%}
<head>
    <base href="{{ base_url() }}" />
    <?= $title_meta ?>

    {% include('admin/partials/head-css.twig')%}
    <link href="assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables -->
    <link href="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>

{% include('admin/partials/body.twig')%}
<!-- <body data-layout="horizontal"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">

        {% include('admin/partials/menu.twig')%}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">


                        {% if prod_stock_out %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="mdi mdi-block-helper me-2"></i>

                            {% for pro in prod_stock_out %}  
                               {% if loop.index!= 1 %}, {% endif %} {{ pro['product_name'] }}
                            {% endfor %}
                                {{lang('stock_out')}}

                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                        {% if prod_stock_out_soon %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="mdi mdi-alert-outline me-2"></i>
                            
                            {% for pro in prod_stock_out_soon %} 
                              {% if loop.index!= 1 %}, {% endif %}
                            {{ pro['product_name'] }}
                            {% endfor %}
                            {{lang('stock_out_soon')}}
                            
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}

                    <!-- start page title -->
                    <?= $page_title ?>
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">{{lang('total_orders')}}</span>
                                            <h4 class="mb-3">
                                               <h4 class="mb-3">{{ total_orders }}
                                               </h4>
                                           </div>

                                           <div class="col-6">
                                            <div id="mini-chart1" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                                        </div>
                                    </div>
                                    <div class="text-nowrap">
                                        <span class="badge bg-soft-success text-success">{{total_orders_last_week}}&nbsp; {{lang('orders')}}</span>
                                        <span class="ms-1 text-muted font-size-13">{{lang('last_week')}}</span>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->

                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">{{lang('total_sales')}}</span>
                                            <h4 class="mb-3">${{ total_sales |number_format(2)}}
                                            </h4>
                                        </div>
                                        <div class="col-6">
                                            <div id="mini-chart2" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                                        </div>
                                    </div>
                                    <div class="text-nowrap">
                                        <span class="badge bg-soft-success text-success">${{total_sales_last_week |number_format(2)}}</span>
                                        <span class="ms-1 text-muted font-size-13">{{lang('last_week')}}</span>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col-->

                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-h-100">
                                <!-- card body -->
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate" style="overflow: unset;">{{lang('total_customers')}}</span>
                                            <h4 class="mb-3">{{ total_customers}}
                                            </div>
                                            <div class="col-6">
                                                <div id="mini-chart3" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                                            </div>
                                        </div>
                                        <div class="text-nowrap">
                                            <span class="badge bg-soft-success text-success">{{total_customers_last_week}} &nbsp; {{lang('customers')}}</span>
                                            <span class="ms-1 text-muted font-size-13">{{lang('last_week')}}</span>
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->

                            <div class="col-xl-3 col-md-6">
                                <!-- card -->
                                <div class="card card-h-100">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <span class="text-muted mb-3 lh-1 d-block text-truncate">PEOPLE ONLINE</span>
                                                <h4 class="mb-3">
                                                    <span class="counter-value" data-target="12">0</span>
                                                </h4>
                                            </div>
                                            <div class="col-6">
                                                <div id="mini-chart4" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                                            </div>
                                        </div>
                                        <div class="text-nowrap">
                                            <span class="badge bg-soft-success text-success">+2.95%</span>
                                            <span class="ms-1 text-muted font-size-13">Since last week</span>
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                                <!-- card -->
                                <div class="card">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center mb-4">
                                            <h5 class="card-title me-2">Analytics</h5>
                                            <div class="ms-auto">

                                            </div>
                                        </div>

                                        <div class="row align-items-center">
                                            <div class="col-xl-12">
                                                <div>
                                                    <div id="chart" data-colors='["#5156be", "#34c38f"]' class="apex-charts"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row-->

                            <div class="col-xl-4">
                                <!-- card -->
                                <div class="card">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center mb-4">
                                            <h5 class="card-title me-2">Sales by Locations</h5>
                                            {# <div class="ms-auto">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle text-reset" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="text-muted font-size-12">Sort By:</span> <span class="fw-medium">World<i class="mdi mdi-chevron-down ms-1"></i></span>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                                        <a class="dropdown-item" href="#">USA</a>
                                                        <a class="dropdown-item" href="#">Russia</a>
                                                        <a class="dropdown-item" href="#">Australia</a>
                                                    </div>
                                                </div>
                                            </div> #}
                                        </div>

                                        <div id="sales-by-locations" data-colors='["#5156be"]' style="height:196px"></div>

                                        <div class="px-2 py-2">
                                            <p class="mb-1">USA <span class="float-end">75%</span></p>
                                            <div class="progress mt-2" style="height: 6px;">
                                                <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="75">
                                                </div>
                                            </div>

                                            <p class="mt-3 mb-1">Russia <span class="float-end">55%</span></p>
                                            <div class="progress mt-2" style="height: 6px;">
                                                <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="55">
                                                </div>
                                            </div>

                                            <p class="mt-3 mb-1">Australia <span class="float-end">85%</span></p>
                                            <div class="progress mt-2" style="height: 6px;">
                                                <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <div class="row">
                            <div class="col-xl-12">

                                <!-- card -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title me-2"><b>{{lang('todays_order')}}</b></h5>

                                                <div class="row">
                                                    <div class="col-sm">
                                                        <div class="mb-4">
                                                            {# <button type="button" class="btn btn-light waves-effect waves-light"><i class="bx bx-plus me-1"></i> Add Invoice</button> #}
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- end row -->

                                                <div class="table-responsive">

                                                 <table class="table align-middle datatable dt-responsive table-check nowrap" id="order_history_list" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                                    <thead>
                                                        <tr class="bg-transparent">
                                                            <th style="width: 40px;">#</th>
                                                            <th style="width: 80px;">{{lang('order_id')}}</th>
                                                            <th>{{lang('customer')}}</th>
                                                            <th>{{lang('status')}}</th>
                                                            <th>{{lang('order_date')}}</th>
                                                            <th>{{lang('total_amount')}}</th> 

                                                        </tr>
                                                    </thead>
                                                    {% for orders in order_data %}

                                                    <tr>
                                                        <td>{{loop.index}}</td>
                                                        <td style="width: 80px;"><b>{{orders.order_id}}</b></td>
                                                        <td>{{orders.customer}}</td>

                                                        {% if orders.order_status == "Complete" %}  
                                                        <td><span class="badge badge-soft-success">{{orders.order_status}}</span>

                                                         {%elseif orders.order_status =='Declined' %} 
                                                         <td><span class="badge badge-soft-danger">{{orders.order_status}}</span></td>
                                                         {%else %}
                                                         <td><span class="badge badge-soft-warning">{{orders.order_status}}</span></td>
                                                         {% endif %}

                                                         <td>{{orders.order_date}}</td>
                                                         <td>{{orders.total_amount}}</td> 

                                                     </tr>
                                                     {% endfor %}
                                                 </table> 
                                             </div>
                                             <!-- end table responsive -->
                                         </div>
                                         <!-- end card body -->
                                     </div>
                                     <!-- end card -->
                                 </div>
                                 <!-- end col -->
                             </div>

                             <!-- end col -->
                         </div>
                         <!-- end row-->

                         <!-- <div class="col-xl-2"> -->
                            <!-- card -->
                            <!-- <div class="card bg-primary text-white shadow-primary card-h-100"> -->
                                <!-- card body -->
                                   <!--  <div class="card-body p-0">
                                    <div id="carouselExampleCaptions" class="carousel slide text-center widget-carousel" data-bs-ride="carousel"> -->
                                        <!-- <div class="carousel-inner"> -->
                                            <!-- <div class="carousel-item active"> -->
                                                <!-- <div class="text-center p-4"> -->
                                                    <!-- <i class="mdi mdi-bitcoin widget-box-1-icon"></i> -->
                                                    <!-- <div class="avatar-md m-auto"> -->
                                                        <!-- <span class="avatar-title rounded-circle bg-soft-light text-white font-size-24"> -->
                                                            <!-- <i class="mdi mdi-currency-btc"></i> -->
                                                            <!-- </span> -->
                                                            <!-- </div> -->
                                                            <!-- <h4 class="mt-3 lh-base fw-normal text-white"><b>Loremlispum</b> News</h4> -->
                                                            <!-- <p class="text-white-50 font-size-13">Bitcoin prices fell sharply amid the global sell-off in equities. Negative news -->
                                                            <!-- over the Bitcoin past week has dampened Bitcoin basics
                                                            sentiment for bitcoin. Negative news
                                                            over the Bitcoin past week has dampened Bitcoin basics
                                                        sentiment for bitcoin. </p> -->
                                                        <!-- {# <button type="button" class="btn btn-light btn-sm">View details <i class="mdi mdi-arrow-right ms-1"></i></button> #} -->
                                                        <!-- </div> -->
                                                        <!-- </div> -->
                                                        <!-- end carousel-item -->
                                                        <!-- <div class="carousel-item"> -->
                                                    <!-- <div class="text-center p-4">
                                                        <i class="mdi mdi-ethereum widget-box-1-icon"></i>
                                                        <div class="avatar-md m-auto">
                                                            <span class="avatar-title rounded-circle bg-soft-light text-white font-size-24">
                                                                <i class="mdi mdi-ethereum"></i>
                                                            </span>
                                                        </div>
                                                        <h4 class="mt-3 lh-base fw-normal text-white"><b>Loremlispum</b> News</h4>
                                                        <p class="text-white-50 font-size-13">Bitcoin prices fell sharply amid the global sell-off in equities. Negative news
                                                            over the Bitcoin past week has dampened Bitcoin basics
                                                            sentiment for bitcoin. </p>
                                                        {# <button type="button" class="btn btn-light btn-sm">View details <i class="mdi mdi-arrow-right ms-1"></i></button> #}
                                                    </div>
                                                </div> -->
                                                <!-- end carousel-item -->
                                                <!-- <div class="carousel-item">
                                                    <div class="text-center p-4">
                                                        <i class="mdi mdi-litecoin widget-box-1-icon"></i>
                                                        <div class="avatar-md m-auto">
                                                            <span class="avatar-title rounded-circle bg-soft-light text-white font-size-24">
                                                                <i class="mdi mdi-litecoin"></i>
                                                            </span>
                                                        </div>
                                                        <h4 class="mt-3 lh-base fw-normal text-white"><b>Loremlispum</b> News</h4>
                                                        <p class="text-white-50 font-size-13">Bitcoin prices fell sharply amid the global sell-off in equities. Negative news
                                                            over the Bitcoin past week has dampened Bitcoin basics
                                                            sentiment for bitcoin. </p>
                                                        {# <button type="button" class="btn btn-light btn-sm">View details <i class="mdi mdi-arrow-right ms-1"></i></button> #}
                                                    </div>
                                                </div> -->
                                                <!-- end carousel-item -->
                                                <!-- </div> -->
                                                <!-- end carousel-inner -->

                                            <!-- <div class="carousel-indicators carousel-indicators-rounded">
                                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div> -->
                                            <!-- end carousel-indicators -->
                                            <!-- </div> -->
                                            <!-- end carousel -->
                                            <!-- </div> -->
                                            <!-- end card body -->
                                            <!-- </div> -->
                                            <!-- end card -->
                                            <!-- </div> -->
                                            <!-- end col -->
                                        </div>
                                    </div> <!-- container-fluid -->
                                </div>
                                <!-- End Page-content -->


                                {% include('admin/partials/footer.twig')%}
                            </div>
                            <!-- end main content-->

                        </div>
                        <!-- END layout-wrapper -->


                        {% include('admin/partials/right-sidebar.twig')%}
                        <!-- JAVASCRIPT -->
                        {% include('admin/partials/vendor-scripts.twig')%}
                        <script src="assets/js/app.js"></script>
                        <script>
                            $.getJSON('api/general/get_graph_data', function (graph_data) {

// let x= [44, 55, 57, 56, 61, 58, 63, 60, 66]
    // let x= graph_data[0]
// console.log(graph_data[0])
                                var l ='2';

                                var options = {

                                 series: [{
                                  name: 'Order',
                                  data: graph_data[0]['values']
                              }, {
                                  name: 'Sales',
                                  data: graph_data[1]['values']
                              }, {
                                  name: 'Customers',
                                  data: graph_data[2]['values']
                              }],
                                 chart: {
                                  type: 'bar',
                                  height: 350
                              },
                              plotOptions: {
                                  bar: {
                                    horizontal: false,
                                    columnWidth: '55%',
                                    endingShape: 'rounded'
                                },
                            },
                            dataLabels: {
                              enabled: false
                          },
                          stroke: {
                              show: true,
                              width: 2,
                              colors: ['transparent']
                          },
                          xaxis: {
                              categories: 
                              graph_data[3]['values'],
                          },
                          yaxis: {
                              title: {
                                text: ''
                            }
                        },
                        fill: {
                          opacity: 1
                      },
                      tooltip: {
                          y: {
                            formatter: function (val, { series, seriesIndex, dataPointIndex, w }) {
                             if(seriesIndex==1) {
                                return '$ '+val;
                            }else{
                                return val;
                            }
                        }
                    }
                }
            };
            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        });

    </script> 
    <script src="assets/libs/flatpickr/flatpickr.min.js"></script>

    <!-- Required datatable js -->
    <script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Responsive examples -->
    <script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="assets/js/pages/dashboard.init.js"></script>
    <script src="assets/js/pages/invoices-list.init.js"></script>
    <script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <!-- dashboard init -->


    <!-- App js -->
    {# <script src="assets/js/app.js"></script> #}
    <script>

// $(document).ready(function () {
//     mapdata();
// });
    </script>
</body>

</html>