{% include('user/layout/header.twig')%}
<link rel="stylesheet" href="assets/css/rating.css">
<div class="error_msg" style="display: none;">
    <span id='error_msg_title_js'>{{lang('error_title')}}</span>
    <span id='error_msg_email_js'>{{lang('error_email')}}</span>
    <span id='error_msg_subject_js'>{{lang('error_subject')}}</span>
    <span id='error_msg_deartment_js'>{{lang('error_department')}}</span>
    <span id='error_msg_priority_js'>{{lang('error_priority')}}</span>
    <span id='error_msg_message_js'>{{lang('error_message')}}</span>
    <span id='error_msg_valid_email_js'>{{lang('error_email_valid')}}</span>
    <span id="file_ext_js">{{lang('file_ext_js')}}</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('create_ticket')}} </span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                {{form_open_multipart('','class="form-horizontal" role="form" id="create_ticket" id="create_ticket"')|raw}}
                <div class="col-md-12">
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-times-sign"></i> {{lang('form_error_messages')}}
                    </div>
                    <div class="successHandler alert alert-success no-display">
                        <i class="fa fa-ok"></i> {{lang('form_success_messages')}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">
                        {{lang('title')}}: <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="{{lang('title')}}" class="form-control"  name="title" id="title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="email">
                        {{lang('email')}}: <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-6">
                        <input type="email" placeholder="{{lang('email')}}" class="form-control"  name="email" id="email" value="{{email}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="subject">
                        {{lang('subject')}}: <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="{{lang('subject')}}"   class="form-control"  name="subject" id="subject">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="department">
                        {{lang('department')}}: <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-6">
                        <select type="text"   class="form-control"  name="department" id="department">
                            <option value="">{{lang('choose_option')}}</option>
                            {% for departments in department%}
                                <option value="{{departments.department_id}}">{{departments.department_name}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="priority">
                        {{lang('priority')}}: <span class="symbol required"></span>
                    </label>
                    <div class="col-sm-6">
                        <select type="text"  id="form-field-2" class="form-control"  name="priority" id="priority">
                            <option value="">{{lang('choose_option')}}</option>
                            {% for item in priority%}
                                <option value="{{item.id}}">{{item.name}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for='message'>
                        {{lang('message')}}<span class='symbol required'></span>
                    </label>
                    <div class='col-sm-8'>
                        <textarea type="text" rows='4' cols='67' name="message" id="message" class="form-control ckeditor"></textarea>

                    </div>

                </div>


                <div class="form-group" id="fields">
                    <label class="control-label col-sm-2" for="field1">
                        {{lang('attach_file')}}
                    </label>
                    <div class="controls col-sm-6">

                        <div class="entry input-group col-xs-3">
                            <input class="btn btn-primary" name="fields[]" type="file" id='file'>
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-add" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <p>
                        <div class="alert alert-warning">
                            <span class="label label-warning">{{lang('note')}}!</span>
                            <span> {{lang('supported_formats')}} : {{lang('JPEG')}} , {{lang('PNG')}} , {{lang('JPG')}} , {{lang('pdf')}} , {{lang('gif')}} </span>
                        </div>
                    </div>

                </div>

                <div class='form-group'>
                    <label class='col-sm-2 control-label'>{{lang('rated')}}</label>
                    <div class='col-sm-6'>
                        <fieldset id='demo1' class="rating">
                            {%for i in 5..1%}
                                <input class="fa fa-star" type="radio" id="star{{i}}" name="rating[]" value="{{i}}" onclick="add(this, 1)"/>
                                <label for="star{{i}}" title="{{i}} Star"></label>
                            {%endfor%}

                        </fieldset>
                    </div>
                </div>
                <div class='form-action'>
                    <div class='col-sm-offset-4'>
                        <button class='btn btn-primary' name='submit' id='submit' type='submit' value='submit'>{{lang('submit')}}   <span class='fa fa-send'></span></button>
                    </div>
                </div>


                {{form_close()|raw}}
            </div>
        </div>
    </div>
</div>


{% include('user/layout/footer.twig')%}
<script src='assets/js/create_ticket.js'></script>
<script src="assets/plugins/ckeditor/ckeditor.js"></script>
<script src="assets/js/file_extension.js">
</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        validateCreateTicket();
    });
</script>
