{% include 'user/layout/header.twig' %}
<link rel="stylesheet" href="assets/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="assets/css/rating.css">
<div style="display:none">
    <span id="js_message_error">{{lang('js_message_error')}}</span>
</div>
<section class="content">
    <div class="row">

        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">{{lang('activity')}}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <div class="flush-left">
                            <h4>
                                <a><i class='fa fa-info-circle'></i> {{details['ticket_id']}}</a>
                            </h4>
                        </div>
                        <table class="table table-responsive full-width ticket_info" cellspacing="0" cellpadding="0" width="940" border="0" style='background-color:lightblue'>
                            <tbody><tr>
                                    <td width="50%">
                                        <table border="0" cellspacing="" cellpadding="4" width="100%">
                                            <tbody><tr>
                                                    <th width="100">{{lang('status')}}:</th>
                                                    <td><a class="preview" data-preview="#list/1/items/1/preview">{{details['status']}}</a></td>
                                                </tr>
                                                <tr>
                                                    <th>{{lang('priority')}}:</th>
                                                    <td>{% if(details['priority']=='High')%}<span class="label label-danger">{{details['priority']}}</span>{%else%}
                                                        {% if(details['priority']=='Medium')%}<span class="label label-success">{{details['priority']}}</span>{% else%}
                                                            {% if(details['priority']=='Low')%}<span class="label label-info">{{details['priority']}}</span>{%else%}
                                                                {% if(details['priority']=='Urgent')%}<span class="label label-warning">{{details['priority']}}</span>{%else%}
                                                                    {% if(details['priority']=='Normal')%}<span class="label label-primary">{{details['priority']}}</span>{%endif%}
                                                                {%endif%}
                                                            {%endif%}
                                                        {%endif%}
                                                        {%endif%}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>{{lang('department')}}:</th>
                                                        <td>{{details['department']}}</td>
                                                    </tr>
                                                </tbody></table>
                                        </td>
                                        <td width="50%" style="vertical-align:top">
                                            <table border="0" cellspacing="" cellpadding="4" width="100%">
                                                <tbody><tr>
                                                        <th width="100">{{lang('create_user')}}:</th>
                                                        <td><i class="icon-user"></i> <span id="user-1-name">{{details['from_userid']}}</span></a>
                                                            <a href="tickets.php?status=open&amp;a=search&amp;uid=1" title="Related Tickets" data-dropdown="#action-dropdown-stats">
                                                            </a>
                                                            <div id="action-dropdown-stats" class="action-dropdown anchor-right" style="display: none;">
                                                                <ul>
                                                                    <li><a href="tickets.php?a=search&amp;status=open&amp;uid=1"><i class="icon-folder-open-alt icon-fixed-width"></i> 1 Open Ticket</a></li>                                    <li><a href="tickets.php?a=search&amp;uid=1"><i class="icon-double-angle-right icon-fixed-width"></i> All Tickets</a></li>
                                                                    <li><a href="users.php?id=1"><i class="icon-user
                                                                                                    icon-fixed-width"></i> Manage User</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>{{lang('email')}}:</th>
                                                        <td>
                                                            <span id="user-1-email">{{details['email']}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>{{lang('due_date')}}:</th>
                                                        <td style="color:red;">{{details['created_date']}}</td>
                                                    </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            <br>
                            <table class="table table-responsive full-width ticket_info" cellspacing="0" cellpadding="0"  border="0" style='background-color:lightblue'>
                                <tbody><tr>
                                        <td width="50%">
                                            <table border="0" cellspacing="" cellpadding="4" width="100%">
                                                <tbody><tr>
                                                        <th width="100">{{lang('assignee')}}:</th>
                                                        <td style="font-weight:bolder;">
                                                            {% if details['assignee'] %}
                                                                {{details['assignee']}}
                                                            {% else %}
                                                                {{ lang('na') }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>{{lang('change_status')}}:</th>
                                                        <th><select class="form-control" name='status' id='status'>
                                                                <option value=''>{{lang('choose_ticket_status')}}</option>
                                                                {%  for item in types %}
                                                                    {% if item.id == '1'%}
                                                                        <option {% if item.id == details['status_id'] %} selected {%endif %}value='{{item.id}}'>{{item.type_name}}</option>
                                                                    {% endif %}
                                                                {%endfor%}
                                                            </select>
                                                    </tr>
                                                </tbody></table>
                                        </td>
                                        <td width="50%" style="vertical-align:top">
                                            <table border="0" cellspacing="" cellpadding="4" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <th>{{lang('title')}}:</th>
                                                        <td>
                                                            <span id="user-1-email">{{details['title']}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>{{lang('subject')}}:</th>
                                                        <td>{{details['subject']}}&nbsp;&nbsp; <span class="faded"></span>                    </td>
                                                    </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            <br>
                            <table class="table table-responsive full-width ticket_info" cellspacing="0" cellpadding="0"  border="0" style='background-color:lightblue'>
                                <tbody><tr>
                                        <td width="50%">
                                            <table border="0" cellspacing="" cellpadding="4" width="100%">
                                                <tbody><tr>
                                                        <th width="100">{{lang('attached_files')}}:</th>
                                                        <td>
                                                            {% if details.attched_file|length %}
                                                                {#{% set ext=''%}
                                                                {% for item in details['attched_file'] %}
                                                         
                                                                    {% if item.file_name|split('.')|last !='pdf'  %}
                                                                      
                                                                            <img src='{{BASE_URL}}assets/images/attachements/{{item.file_name}}' width='100px' height='100' id="myImg"/>
                                                                            
                                                                        {%else%}
                                                                            <a href='{{BASE_URL}}assets/images/attachements/{{item.file_name}}'target="_blank">Click here</a>
                                                                            
                                                                    {% endif %}
                                                                {% endfor %}#}

                                                                <a href='{{BASE_URL}}user/ticket_system/view_attached_files/{{details['ticket_id']}}'target="_blank">{{lang('click_here')}}</a>


                                                            {% else %}
                                                                {{ lang('na') }}
                                                            {% endif %}

                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>

                            <div class="box box-success">
                                <div class="box-header ui-sortable-handle" style="cursor: move;">
                                    <i class="fa fa-comments-o"></i>

                                    <h3 class="box-title">{{lang('reply')}}</h3>
                                </div>
                                <div class="slimScrollDiv" style="overflow-y: hidden; position: relative;  width: auto; height: 100%;">
                                    <div class="box-body chat" id="chat-box" style="overflow-y: scroll; width: auto; height: 250px;">
                                        <!-- chat item -->
                                        <div class="direct-chat-msg right">
                                            <div class="direct-chat-info clearfix">
                                                <span class="direct-chat-name pull-left"></span>
                                                <span class="direct-chat-timestamp pull-right">{{details['from_userid']}}</span>
                                            </div>
                                            <!-- /.direct-chat-info -->
                                            <img class="direct-chat-img" src="assets/images/users/{{details['user_image']}}" alt="Message User Image"><!-- /.direct-chat-img -->
                                            <div class="direct-chat-text">
                                                {{details['message']|raw}}
                                            </div>
                                            <!-- /.direct-chat-text -->
                                        </div>
                                        <!-- /.item -->
                                        <!-- chat item -->
                                        {% for data in details['replies'] %}
                                            {% if (user_id != data['user_id']) %}
                                                <div class="direct-chat-msg " style="width:auto;height:auto;" id="chatright">
                                                    <div class="direct-chat-info clearfix">
                                                        <span class="direct-chat-name pull-left">{{data['user_name']}}</span>
                                                        <span class="direct-chat-timestamp pull-right"></span>
                                                    </div>
                                                    <!-- /.direct-chat-info -->
                                                    <img class="direct-chat-img" src="assets/images/users/{{data['user_image']}}" alt="Message User Image"><!-- /.direct-chat-img -->
                                                    <div class="direct-chat-text" style="background-color: #00a65a;">
                                                        {{data['message']|raw}}
                                                        {% for itm in data['attachement'] %}
                                                            <div class="files-holder clearfix">
                                                                <a href="{{BASE_URL}}assets/images/tickets/{{ itm['file_name']}}" class="file clearfix">
                                                                    <i class="fa fa-file-o"></i>
                                                                    <div class="fileinfo">
                                                                        {% if itm['file_name']|split('.')|last !='pdf'  %}
                                                                            <span class="filename">{{ lang('image_link')}}</span>
                                                                        {% else %}
                                                                            <span class="filename">{{ lang('pdf')}}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {% endfor  %}
                                                    </div>

                                                </div>
                                            {% else %}
                                                <div class="direct-chat-msg right " style="width:auto;height:auto;" id="chatright">
                                                    <div class="direct-chat-info clearfix">
                                                        <span class="direct-chat-name pull-left"></span>
                                                        <span class="direct-chat-name pull-right">{{data['user_name']}}</span>
                                                    </div>
                                                    <!-- /.direct-chat-info -->
                                                    <img class="direct-chat-img" src="assets/images/users/{{data['user_image']}}" alt="Message User Image"><!-- /.direct-chat-img -->
                                                    <div class="direct-chat-text">
                                                        {{data['message']|raw}}
                                                        {% for itms in data['attachement'] %}
                                                            <div class="direct-chat-text clearfix">
                                                                <a href="{{BASE_URL}}assets/images/tickets/{{ itms['file_name']}}" class="file clearfix">
                                                                    <i class="fa fa-file-o"></i>
                                                                    <div class="fileinfo">
                                                                        <span class="filename">{{ itms['file_name']}}</span>

                                                                    </div>
                                                                </a>
                                                            </div>
                                                        {% endfor  %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                        {% endfor %}
                                        <!-- /.item -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.chat -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{lang('ticket_details')}} <strong>{{details['from_userid']}}</strong></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="profile-user-img img-responsive img-circle" src="assets/images/users/{{details['user_image']}}" alt="User profile picture">
                        <strong><i class="fa fa-book margin-r-5"></i>{{lang('ticket_id')}}</strong>

                        <p class="text-muted col-sm-offset-2">
                            {{details['ticket_id']}}
                        </p>
                        <hr>
                        <strong><i class="fa fa-pencil margin-r-5"></i>{{lang('priority')}}</strong>
                        <p class='col-sm-offset-2'>
                            {% if(details['priority']=='High')%}<span class="label label-danger">{{details['priority']}}</span>{%else%}
                                {% if(details['priority']=='Medium')%}<span class="label label-success">{{details['priority']}}</span>{% else%}
                                    {% if(details['priority']=='Low')%}<span class="label label-info">{{details['priority']}}</span>{%else%}
                                        {% if(details['priority']=='Urgent')%}<span class="label label-warning">{{details['priority']}}</span>{%else%}
                                            {% if(details['priority']=='Normal')%}<span class="label label-primary">{{details['priority']}}</span>{%endif%}
                                        {%endif%}
                                    {%endif%}
                                {%endif%}
                            {%endif%}
                        </p>
                        <hr>
                        <strong><i class="fa fa-file-text-o margin-r-5"></i>{{lang('title')}}</strong>

                        <p class='col-sm-offset-2'>{{details['title']}}</p>

                        <hr>
                        <strong><i class="fa fa-file-sound-o margin-r-5"></i>{{lang('email')}}</strong>
                        <p class='col-sm-offset-2'>{{details['email']}}</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">        
            <div class="col-md-9">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-comments-o"></i> <span class="text-bold">{{lang('reply')}} </span>  </h4>
                        <div class="panel-tools">
                            <div class="dropdown">
                                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                    <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                                    <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                                    <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                                </ul>
                            </div>
                            <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{form_open_multipart('','class="form-horizontal" role="form" id="create_ticket" id="create_ticket"')|raw}}
                        <input type="hidden" name="ticket_id" id="ticket_id" value="{{details['ticket_id']}}"/>
                        <div class="form-group">
                            <div class='col-sm-12'>
                                <textarea id="message" name="message" rows="10" cols="80" class="ckeditor"></textarea>
                            </div>
                        </div>
                        <div class="form-group" id="fields">
                            <label class="control-label col-sm-2" for="field1">
                                {{lang('attach_file')}}
                            </label>
                            <div class="controls col-sm-6">

                                <div class="entry input-group col-xs-3">
                                    <input class="btn btn-primary" name="fields[]" type="file" id='file'>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-add" type="button">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='form-action'>
                            <div class='col-sm-offset-4'>
                                <button class='btn btn-primary' name='submit' id='submit' type='submit' value='submit'>{{lang('submit')}}   <span class='fa fa-send'></span></button>
                            </div>
                        </div>
                        {{form_close()|raw}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- The Modal -->

    {% include 'user/layout/footer.twig' %}
    <script src="assets/js/typeahead.js"></script>
    <script src="assets/js/create_ticket.js"></script>
    <script src="assets/plugins/ckeditor/ckeditor.js"></script>
    <script src="assets/js/user_created_ticket.js"></script>

    <script>

        // Get the modal
        var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

    // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
    <style>
        * {
            box-sizing: border-box;
        }

        .zoom {
            padding: 50px;

            transition: transform .2s;
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }

        .zoom:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5); 
        }
    </style>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        #myImg:hover {opacity: 0.7;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modal-content, #caption {  
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)} 
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)} 
            to {transform:scale(1)}
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }
    </style>