{%if user_type=='admin' or user_type=='employee' %}
    {% include('admin/layout/header.twig')%}
{% elseif(user_type=='user') %}
    {% include('user/layout/header.twig')%}
{%else%}
    {% include('layout/header.twig')%}
    <body class="login">
        <input type="hidden" name="path" id="path" value="{{BASE_URL}}"/>        

        <div class="main-login col-sm-offset-1 col-md-10">
            <div class="logo">
                <img src="assets/images/logos/{{COMPANY_LOGO}}" width="150px;" height="40px;">
            </div>
        {%endif%}
        <div id="js_messages" style="display: none;"> 
            <span id="address_req_js">{{lang('address_req_js')}}</span>    
            <span id="country_req_js">{{lang('country_req_js')}}</span>    
            <span id="state_req_js">{{lang('state_req_js')}}</span>    
            <span id="city_req_js">{{lang('city_req_js')}}</span>    
            <span id="zip_code_req_js">{{lang('zip_code_req_js')}}</span>
            <span id="msg">{{lang('please_enter_epin_details')}}</span>
            <span  id="msg2" >{{lang('error_insufficent_pin_amount')}}</span>
            <span  id="epin_created_by_user" >{{lang('epin_created_by_user')}}</span>
            <span  id="msg3" >{{lang('invalid_epin_details')}}</span>
            <span id="success_message">{{lang('success_message')}}</span>
            <span id="error_message">{{lang('you_have_some_errors_please_check_below')}}</span>
            <input type="hidden" id="currency_symbol" value="({{MLM_CURRENCY_LEFT~MLM_CURRENCY_RIGHT}})"/>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title"><span class="text-bold">{{lang('checkout')}}</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal"> 
                            {%if not user_type %}
                                {%include('admin/layout/notification.twig')%}
                            {% endif %}

                            {{ form_open('', ' id="checkout_form" name="checkout_form"')|raw }}
                            <div class="errorHandler alert alert-danger no-display">
                                <i class="fa fa-remove-sign"></i>{{ lang('form_error_msg') }}
                            </div>
                            <input type="hidden" name="path_root" id="path_root" value="{{BASE_URL}}">
                            <input type="hidden" name="sponsor_username" id="sponsor_username" value="{{user_name}}">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {{ lang('address')}} :<span class="symbol required"></span>
                                        </label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"> <i class="fa fa-location-arrow"></i> </span>
                                                <input type="text" class="form-control" id="address" name="address" value="{{ checkout_data.address}}" placeholder="{{ lang('address')}}" tabindex='1'>
                                            </div>
                                            {% if checkout_error.address is defined %}<code> {{ checkout_error.address}} </code> {% endif %} 
                                        </div>                            
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {{ lang('country')}} :<span class="symbol required"></span>
                                        </label>
                                        <div class="col-sm-7">

                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-globe" area-hidden="true"></i></span>
                                                <select class="form-control search-select" id="country" name="country" tabindex='2'>
                                                    <option value=''>{{ lang('select_a_country')}}</option>
                                                    {% for cntrs in countries %}
                                                        <option value="{{cntrs.id}}" {% if checkout_data.country==cntrs.id %} selected {% endif %}>{{cntrs.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>


                                            {% if checkout_error.country is defined %}<code> {{ checkout_error.country}} </code> {% endif %} 
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {{ lang('state')}} :<span class="symbol required"></span>
                                        </label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-flag-o" area-hidden="true"></i></span>
                                                <span id="state_span">
                                                <select class="form-control search-select" id="state" name="state" tabindex='3'>
                                                    <option value=''>{{ lang('select_a_state')}}</option>
                                                    {% for sts in states %}
                                                        <option value="{{sts.id}}" {% if checkout_data.state==sts.id %} selected {% endif %}>{{sts.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </span>
                                            </div>
                                            
                                            {% if checkout_error.state is defined %}<code> {{ checkout_error.state}} </code> {% endif %} 
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {{ lang('city')}} :<span class="symbol required"></span>
                                        </label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"> <i class="fa fa-random"></i> </span>
                                                <input type="text" class="form-control" id="city" name="city" value="{{ checkout_data.city}}" placeholder="{{ lang('city')}}" tabindex='4'>
                                            </div>
                                            {% if checkout_error.city is defined %}<code> {{ checkout_error.city}} </code> {% endif %} 
                                        </div>                            
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {{ lang('zip_code')}} :<span class="symbol required"></span>
                                        </label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <span class="input-group-addon"> <i class="fa fa-skyatlas"></i> </span>
                                                <input type="text" class="form-control" id="zip_code" name="zip_code" value="{{ checkout_data.zip_code}}" placeholder="{{ lang('zip_code')}}" maxlength="7">
                                            </div>
                                            {% if checkout_error.zip_code is defined %}<code> {{ checkout_error.zip_code}} </code> {% endif %} 
                                        </div>                            
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-xs-3 control-label"></label>
                                        <div class="col-sm-7 col-xs-7">
                                            <input type="checkbox" class="grey agree" id="shipping_address_save" name="shipping_address_save" tabindex='6'> {{ lang('save_this_shipping_address') }}                                            
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 alert alert-block alert-info fade in  col-md-pull-1  col-sm-pull-1" >
                                    <ul class="activities">
                                        <li class="messages-item">


                                            <div class="col-md-6 col-sm-6 col-xs-6"> 
                                                <span class="desc">{{lang('price')}} (<b><span id="checkout_prod_count">{{total_items}}</span></b> {{lang('items')}})</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2  col-xs-2"> :
                                            </div>
                                            <div class="col-md-4  col-sm-4   col-xs-4 pull-right">
                                                <span id="checkout_prod_total">{{total_amount}}</span>
                                            </div>


                                        </li>
                                        <li class="messages-item" id="checkout_delivery_charge_div">

                                            <div class="col-md-6 col-sm-6 col-xs-6"> 
                                                <span class="desc">{{lang('delivery_charge')}}</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2  col-xs-2"> :
                                            </div>
                                            <div class="col-md-4  col-sm-4  col-xs-4  pull-right">
                                                <span id="checkout_delivery_charge">0</span>
                                            </div>


                                        </li>

                                        <li class="messages-item" id="checkout_shipping_charge_div">

                                            <div class="col-md-6 col-sm-6 col-xs-6"> 
                                                <span class="desc">{{lang('shipping_charge')}}</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2  col-xs-2"> :
                                            </div>
                                            <div class="col-md-4  col-sm-4   col-xs-4 pull-right">
                                                <span id="checkout_shipping_charge">0</span>
                                            </div>

                                        </li>

                                        <li class="messages-item" id="checkout_tax_div">



                                            <div class="col-md-6 col-sm-6 col-xs-6"> 
                                                <span class="desc">{{lang('tax')}}</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2  col-xs-2"> :
                                            </div>
                                            <div class="col-md-4  col-sm-4   col-xs-4 pull-right">
                                                <span id="checkout_tax">0</span>
                                            </div>

                                        </li>


                                        <li class="messages-item ">

                                            <div class="col-md-6 col-sm-6 col-xs-6"> 
                                                <span class="desc">{{lang('amount_payable')}}</span> 
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2"> :
                                            </div>
                                            <div class="col-md-4  col-sm-4  col-xs-4  pull-right">
                                                <span id="checkout_grand_total">{{total_amount}}</span>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br/>
                            <input type="hidden" name="cart_grand_total" id="cart_grand_total" value="{{ total_amount }}">
                            <div class="tabbable">
                                <ul id="myTab" class="nav nav-tabs"> 
                                    {% if free_registration %}
                                        <li class="{{ free_registration_tab }}">
                                            <a href="javascript:#free_registration_tab" data-toggle="tab">
                                                <i class="green fa fa-code"></i> {{lang('free_checkout')}}
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if bank_transfer %}
                                        <li class="{{ bank_transfer_tab }}">
                                            <a href="javascript:#bank_transfer_tab" data-toggle="tab">
                                                <i class="green fa fa-money"></i> {{lang('bank_transfer')}}
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if ewallet %}
                                        <li class="{{ ewallet_tab }}">
                                            <a href="javascript:#ewallet_tab" data-toggle="tab">
                                                <i class="green fa fa-credit-card"></i> {{lang('ewallet')}}
                                            </a>
                                        </li>
                                    {% endif %}


                                    {% if epin %}
                                        <li class="{{ epin_tab }}">
                                            <a href="javascript:#epin_tab" data-toggle="tab">
                                                <i class="green fa fa-barcode"></i> {{lang('epin')}}
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if paypal %}
                                        <li class="{{ paypal_tab }}">
                                            <a href="javascript:#paypal_tab" data-toggle="tab">
                                                <i class="green fa fa-paypal"></i> {{lang('paypal')}}
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if coinpayments %}
                                        <li class="{{ coinpayments_tab }}">
                                            <a href="javascript:#coinpayments_tab" data-toggle="tab">
                                                <i class="green fa fa-bitcoin"></i> {{lang('coinpayments')}}
                                            </a>
                                        </li>
                                    {% endif %}

                                </ul>
                                <div class="tab-content">
                                    {% if free_registration %}
                                        <div class="tab-pane fade in {{ free_registration_tab }}" id="free_registration_tab">

                                            <div class="alert alert-block alert-warning fade in">
                                                <button data-dismiss="alert" class="close" type="button">
                                                    ×
                                                </button>
                                                <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                <p>
                                                    {{lang('free_checkout_notification')}}
                                                </p>

                                            </div>


                                            <button type="submit"class="btn btn-primary" value="free_checkout" name="product_checkout">
                                                {{ lang('checkout')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>

                                        </div>

                                    {% endif %}

                                    {% if paypal %}
                                        <div class="tab-pane fade in {{ paypal_tab }}" id="paypal_tab">

                                            <div class="alert alert-block alert-warning fade in">
                                                <button data-dismiss="alert" class="close" type="button">
                                                    ×
                                                </button>
                                                <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                <p>
                                                    {{lang('paypal_checkout_notification')}}
                                                </p>

                                            </div>


                                            <button type="submit"class="btn btn-primary" value="paypal" name="product_checkout">
                                                {{ lang('checkout')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>

                                        </div>

                                    {% endif %}



                                    {% if bank_transfer %}
                                        <div class="tab-pane fade in {{ bank_transfer_tab }}" id="bank_transfer_tab">
                                            <div class="alert alert-block alert-warning fade in">
                                                <button data-dismiss="alert" class="close" type="button">
                                                    ×
                                                </button>
                                                <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                <p>
                                                    {{lang('bank_transfer_notification')}}
                                                </p>

                                            </div>


                                            <button type="submit"class="btn btn-primary" value="bank_transfer" name="product_checkout">
                                                {{ lang('checkout')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>

                                        </div>

                                    {% endif %}


                                    {% if ewallet %}
                                        <div class="tab-pane fade in {{ ewallet_tab }}" id="ewallet_tab">
                                            <div class="alert alert-block alert-warning fade in">
                                                <button data-dismiss="alert" class="close" type="button">
                                                    ×
                                                </button>
                                                <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                <p>
                                                    {{lang('ewallet_notification')}}
                                                </p>

                                            </div>

                                            <div class="form-horizontal">                                            <span id="success_msg"></span>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        {{lang('wallet_username')}} :<span class="symbol required"></span>
                                                    </label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control" type="text" name="wallet_username" id="wallet_username" value="{{checkout_data.username}}">
                                                        {% if checkout_error.wallet_username is defined %}<code> {{ checkout_error.wallet_username}} </code> {% endif %} 
                                                        <span name="wallet_username_span" id="wallet_username_span" style="color: #a94442;"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        {{lang('transaction_password')}} :<span class="symbol required"></span>
                                                    </label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control" type="password" name="transaction_password" id="transaction_password">
                                                        {% if checkout_error.transaction_password is defined %}<code> {{ checkout_error.transaction_password}} </code> {% endif %} 
                                                        <span name="transaction_password_span" id="transaction_password_span" style="color: #a94442;"></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <a href="javascript:validate_wallet()" class="btn btn-primary">{{lang('validate')}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit"class="btn btn-primary" value="ewallet" name="product_checkout" id="ewallet_checkout" disabled>
                                                {{ lang('checkout')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>

                                    {% endif %}

                                    {% if epin %}
                                        <div class="tab-pane fade in {{ epin_tab }}" id="epin_tab">
                                            <div class="alert alert-block alert-warning fade in">
                                                <button data-dismiss="alert" class="close" type="button">
                                                    ×
                                                </button>
                                                <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                <p>
                                                    {{lang('epin_notification')}}
                                                </p>

                                            </div>
                                            <div class="form-horizontal" >
                                                <span id="form_msg"></span>
                                                <div class="row">
                                                    <div class="input_fields_wrap">
                                                        <div class="form-group" id="div1">
                                                            <label class="control-label col-sm-2">{{lang('epin')}} :<span class="symbol required"></span></label>

                                                            <div class="col-sm-4 " style='display:flex;'>
                                                                <input class="form-control e_pin" type="text" name="epin[]" id="epin1" >
                                                                <span class="form-group-addon btn btn-success" id="add_button"><i class="fa fa-plus-circle"></i></span>

                                                            </div>
                                                            <div id="epin_ajaxmsg1" style="color:red;position: absolute;padding-left: 193px; top: 34px;"></div>

                                                        </div>
                                                    </div> 
                                                    <div class="form-group col-sm-5">
                                                        <label class="control-label col-sm-5">{{lang('epin_balance_amount')}}:</label><div id="epin_amount" style="color:green;margin-top:8px;" class="col-sm-offset-6"><b>({{MLM_CURRENCY_LEFT~MLM_CURRENCY_RIGHT}})</b>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-sm-offset-4">
                                                        <input type="button"  class="btn btn-primary" name="btn_submit" id="btn_submit"  value="{{lang('validate')}}" />

                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit"class="btn btn-primary" value="epin" name="product_checkout" id="product_checkout" disabled>
                                                {{ lang('checkout')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                    {% endif %}   

                                    {% if coinpayments %}                                                    
                                        <div class="tab-pane fade in {{ coinpayments_tab }}" id="coinpayments_tab">
                                            <div class="alert alert-block alert-warning fade in">
                                                <button data-dismiss="alert" class="close" type="button">
                                                    ×
                                                </button>
                                                <h4 class="alert-heading"><i class="fa fa-exclamation"></i> {{lang('notice')}}</h4>
                                                <p>
                                                    {{lang('coinpayments_notification')}}
                                                </p>

                                            </div>

                                            <button type="submit"class="btn btn-primary" value="coinpayments" name="product_checkout">
                                                {{ lang('checkout')}} <i class="fa fa-arrow-circle-right"></i>
                                            </button>                                    
                                        </div>
                                    {% endif %}
                                </div>
                            </div>







                        </div>
                    </div>
                    {{ form_close()|raw }}  
                </div>
            </div>
        </div>                                    
    </div>
</div>
{%if user_type=='admin' or user_type=='employee' %}
    {% include('admin/layout/footer.twig')%}
{% elseif(user_type=='user') %}
    {% include('user/layout/footer.twig')%}
{%else%}
</div>
{% include('layout/footer.twig')%}
<link rel="stylesheet" href="assets/plugins/toastr/toastr.min.css">		
<script src="assets/plugins/jQuery/jquery-2.1.1.min.js"></script>
<script src="assets/plugins/toastr/toastr.js"></script>
{%endif%}
<link rel="stylesheet" href="assets/plugins/select2/select2.css">		
<link rel="stylesheet" href="assets/css/plugins.css">
<script src="assets/plugins/select2/select2.min.js"></script>
<script src="assets/js/form-elements.js"></script>
<style>
    #div1 .col-sm-4 {

        display: flex;

    }



    .messages-item {

        font-weight: bold;
        padding: 21px !important;
    }

</style>
<script>
    jQuery(document).ready(function () {
        FormElements.init2();
        validateCheckoutForm();
    });

</script>
<script src="assets/js/cart_checkout.js"></script>