{% if user_type=='admin' or user_type=='employee' %}
    {% include('admin/layout/header.twig') %}
{% elseif(user_type=='user') %}
    {% include('user/layout/header.twig') %}
{% else %}
    {% include('layout/header.twig') %}
    <body class="login">
        <input type="hidden" name="path" id="path" value="{{BASE_URL}}"/>        
        {%include('admin/layout/notification.twig')%}

        <div class="main-login col-sm-offset-1 col-md-10">
            <div class="logo">
                <img src="assets/images/logos/{{COMPANY_LOGO}}" width="150px;" height="40px;">
            </div>
        {% endif %}
        <div id="js_messages" style="display: none;"> 
            <span id="add_to_cart_js">{{lang('added_to_cart_js')}}</span>    
            <span id="success_js">{{lang('success_js')}}</span>
            <span id="failed_to_add_js">{{lang('failed_to_add_js')}}</span>
            <span id="failed_js">{{lang('failed_js')}}</span>                
            <span id="failed_to_rem_js">{{lang('failed_to_rem_js')}}</span>                
            <span id="pro_rem_js">{{lang('pro_rem_js')}}</span>                
            <span id="remove_js">{{lang('remove_js')}}</span>                
            <span id="price_js">{{lang('price_js')}}</span>  
            <span id="quantity_js">{{lang('quantity_js')}}</span>  
            <span id="description_js">{{lang('description_js')}}</span>  
            <span id="empty_cart_js">{{lang('empty_cart_js')}}</span>  
        </div>
        <div class="row">
            <div class="col-md-8">  
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title"><span class="text-bold">{{lang('my_cart')}}</span></h4>
                    </div>
                    <div class="panel-body">
                        <div id="product_list">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4 class="panel-title"><span class="text-bold">{{lang('price_details')}}</span></h4>
                    </div>
                    <div class="panel-body">
                        <ul class="activities">
                            <li class="messages-item">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6"> 
                                        <span class="desc">{{lang('price')}} (<b><span id="view_prod_count">{{items}}</span></b> {{lang('items')}})</span>
                                    </div>
                                    <div class="col-md-2 col-sm-2"> :
                                    </div>
                                    <div class="col-md-4  col-sm-4  pull-right">
                                        <span id="view_prod_total">{{MLM_CURRENCY_LEFT}} {{(total_amount*MLM_CURRENCY_VALUE)|round(CURRENCY_ROUND, 'floor')}} {{MLM_CURRENCY_RIGHT}}</span>
                                    </div>
                                </div>
                            </li>
                            <li class="messages-item">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6"> 
                                        <span class="desc">{{lang('delivery_charge')}}</span> 
                                    </div>
                                     <div class="col-md-2 col-sm-2"> :
                                    </div>
                                    <div class="col-md-4  col-sm-4 pull-right">
                                        <span id="view_delivery_charge">0</span>
                                    </div>
                                </div>
                            </li>
                            <li class="messages-item">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6"> 
                                        <span class="desc">{{lang('shipping_charge')}}</span> 
                                    </div>
                                     <div class="col-md-2 col-sm-2"> :
                                    </div>
                                    <div class="col-md-4  col-sm-4 pull-right">
                                        <span id="view_shipping_charge">0</span>
                                    </div>
                                </div>
                            </li>
                            <li class="messages-item">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6"> 
                                        <span class="desc">{{lang('tax')}}</span> 
                                    </div>
                                     <div class="col-md-2 col-sm-2"> :
                                    </div>
                                    <div class="col-md-4  col-sm-4 pull-right">
                                        <span id="view_tax">0</span>
                                    </div>
                                </div>
                            </li>
                            <li class="messages-item">
                                <div class="row">
                                    <div class="col-md-6  col-sm-6"> 
                                        <span class="desc">{{lang('amount_payable')}}</span> 
                                    </div>
                                     <div class="col-md-2  col-sm-2"> :
                                    </div>
                                    <div class="col-md-4 col-sm-4 pull-right">
                                        <span id="view_grand_total">
                                            {{MLM_CURRENCY_LEFT}} {{(total_amount*MLM_CURRENCY_VALUE)|round(CURRENCY_ROUND, 'floor')}} {{MLM_CURRENCY_RIGHT}}
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul><br/>
                        <div class="row">
                            <div class="col-md-6 pull-left"> 
                                <a href="cart" class="btn btn-primary"> 
                                    {{lang('continue_shopping')}}
                                </a>
                            </div>
                            <div class="col-md-6  pull-right">
                                <a class="btn btn-primary" href="shopping-checkout">
                                    {{lang('checkout')}} <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if user_type=='admin' or user_type=='employee' %}
            {% include('admin/layout/footer.twig') %}
        {% elseif(user_type=='user') %}
            {% include('user/layout/footer.twig') %}
        {% else %}
        </div>
        {% include('layout/footer.twig') %}
        <link rel="stylesheet" href="assets/plugins/toastr/toastr.min.css">		
        <script src="assets/plugins/jQuery/jquery-2.1.1.min.js"></script>
        <script src="assets/plugins/toastr/toastr.js"></script>
    {%endif%}
    <script src="assets/js/cart_view.js"></script>

 <style>

    .messages-item {
        border-bottom: 5px !important;
        font-weight: bold;
        padding: 10px !important;
    }
</style>