{%if user_type=='admin' or user_type=='employee' %}
    {% include('admin/layout/header.twig')%}
{% elseif(user_type=='user') %}
    {% include('user/layout/header.twig')%}
{%else%}
    {% include('layout/header.twig')%}
    <body class="login">
        <div class="row">
            <div class="main-login col-xs-12 col-md-8 col-md-offset-2">
                <div class="logo">
                    <img src="assets/images/logos/{{COMPANY_LOGO}}">
                </div>
            {%endif%}

            <div id="js_messages" style="display: none;">
                <span id="failed_product_added_js">{{lang('failed_product_added_js')}}</span>
                <span id="product_added_js">{{lang('reg_pack_selected')}}</span>
                <span id="failed_js">{{lang('failed_js')}}</span>
                <span id="success_js">{{lang('success_js')}}</span>
                <span id="please_select_a_reg_pack">{{lang('please_select_a_reg_pack')}}</span>
                <span id="warning_js">{{lang('warning_js')}}</span>
            </div>

            {%if not user_type %}
                {%include('admin/layout/notification.twig')%}
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading">

                            <div class="row">
                                <div  class="col-xs-6 col-sm-6 col-lg-6">
                                    <h4 class="panel-title"><span class="text-bold">{{lang('register_preview')}}</span></h4>
                                </div>

                                {%if not user_type %}
                                    <style type="text/css">
                                        /*//for language change   */
                                        .dropdown-subview:after {
                                            right: auto !important;
                                            left: 105px !important;
                                        }
                                        .dropdown-subview:before {
                                            right: auto !important;
                                            left: 104px !important;
                                        }
                                        .nav>li>a:focus, .nav>li>a:hover {
                                            background-color:transparent;
                                        }
                                        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
                                            background-color:transparent;
                                        }
                                    </style>

                                    <div class="col-xs-6 col-sm-6 col-lg-6" style="hover:none;">
                                        <p>
                                        <div class="topbar-tools pull-right"  style="color:black !important;hover:none!important;">
                                            <ul class="nav navbar-right">

                                                {% if MULTI_LANG_STATUS %}
                                                    <li class="dropdown current-user">
                                                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="javascript:;"  title="Change Language"
                                                           style="color: gray;"
                                                           >
                                                            <img src="assets/images/flags/lang/{{MLM_LANG_FLAG}}" class="img-circle" alt="">
                                                            <span class="username hidden-xs"><small>{{MLM_LANG_NAME|capitalize}}</small></span> <i class="fa fa-caret-down hidden-xs "></i>
                                                        </a>

                                                        <ul class="dropdown-menu dropdown-light dropdown-subview" >
                                                            {% for LANGUAGE  in  MLM_LANG_LIST  %}
                                                                <li onclick="switchLanguage('{{LANGUAGE.lang_code}}');">
                                                                    <a href="javascript:;" >
                                                                        {{LANGUAGE.lang_name}}

                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% elseif GOOGLE_TRANSLATOR %}

                                                    <li class="hidden-xs">
                                                        <a  href="javascript:;"  title="Google Translate"  class="dropdown-toggle">
                                                            <span id="google_translate_element"> </span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="invoice" id="print_invoice">
                                <div class="header_section">
                                    <div class="c_logo">
                                        <img class="logos" src="assets/images/logos/{{COMPANY_LOGO}}">
                                    </div>
                                    <div class="invoice_number">
                                        <p>
                                            #{{preview_details.new_user_id+18631}} / {{preview_details.date}} <span> {{COMPANY_NAME}} </span>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="content_section">
                                    <div class="col-sm-4">
                                        <h4>{{lang('company_details')}}.</h4>
                                        <div class="padding-vertical-20">
                                            <address>
                                                <strong>{{COMPANY_NAME}}</strong>
                                                <br>
                                                <abbr title="{{lang('address')}}"><i class="fa fa-map-marker"></i> </abbr> - {{COMPANY_ADDRESS|striptags}}
                                                <br>
                                                <abbr title="{{lang('phone_number')}}"><i class="fa fa-mobile-phone"></i> </abbr> - {{COMPANY_PHONE}}
                                            </address>
                                            <address>
                                                <strong>{{lang('email')}}</strong>
                                                <br>
                                                <a href="mailto:{{COMPANY_EMAIL}}">
                                                    {{COMPANY_EMAIL}}
                                                </a>
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4>{{lang('preview_msg')}}</h4>
                                        <div class="padding-vertical-20">
                                            {{lang('preview_msg1')}}
                                            <br>
                                            {{lang('preview_msg2')}}
                                            <br>
                                            {{lang('preview_msg3')}}
                                            <br>
                                            {{lang('mail')}} {{COMPANY_EMAIL}} {{lang('preview_msg4')}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4>{{lang('user_details')}}.</h4>
                                        <ul class="list-unstyled invoice-details">
                                            <li>
                                                <strong>{{lang('username')}}:</strong> {{preview_details.username}}
                                            </li>
                                            <li>
                                                <strong>{{lang('email')}}:</strong> {{preview_details.email}}
                                            </li>

                                            <li>
                                                <strong>{{lang('full_name')}}:</strong> {{preview_details.first_name ~' '~ preview_details.last_name}}
                                            </li>

                                            <li>
                                                <strong>{{lang('reg_amount')}}:</strong> {{MLM_CURRENCY_LEFT}} {{(preview_details.reg_amount*MLM_CURRENCY_VALUE)|round(CURRENCY_ROUND, 'floor')}} {{MLM_CURRENCY_RIGHT}}
                                            </li>

                                            <li>
                                                <strong>{{lang('date_of_joining')}}:</strong> {{preview_details.date_of_joining}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% if preview_details.product %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th> # </th>
                                                            <th> {{lang('item')}} </th>
                                                            <th class="hidden-480"> {{lang('description')}} </th>
                                                            <th class="hidden-480"> {{lang('quantity')}}  </th>
                                                            <th> {{lang('Total')}} </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> 1 </td>
                                                            <td> {{preview_details.product.product_name}} </td>
                                                            <td class="hidden-480"> {{preview_details.product.description}} </td>
                                                            <td class="hidden-480"> {{preview_details.product.quantity}} </td>
                                                            <td> {{MLM_CURRENCY_LEFT}} {{(preview_details.product.product_amount*MLM_CURRENCY_VALUE)|round(CURRENCY_ROUND, 'floor')}} {{MLM_CURRENCY_RIGHT}} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 invoice-block">
                                            <ul class="list-unstyled amounts">
                                                {% for key,totals in preview_details.total_amount_data %}
                                                    {% if totals >0 %}
                                                        <li>
                                                            <strong>{{lang(key)}} : </strong> {{MLM_CURRENCY_LEFT}} {{(totals*MLM_CURRENCY_VALUE)|round(CURRENCY_ROUND, 'floor')}} {{MLM_CURRENCY_RIGHT}}
                                                        </li>
                                                    {% endif %}

                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>

                                {% endif %}


                                <div class="row">
                                    <div class="col-md-12 hidden-print">
                                        {% if not user_type %}
                                            <div class="pull-left">
                                                <a href="login-site" class="btn btn-md btn-light-blue "><i class="fas fa-login"></i>{{lang('login')}}</a>
                                            </div>
                                        {% endif %}
                                        <div class="pull-right">
                                            <a onclick="javascript:window.print();" class="btn btn-md btn-light-blue" align='center'>
                                                {{lang('print')}} <i class="fa fa-print"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%if user_type=='admin' or user_type=='employee' %}
                {% include('admin/layout/footer.twig')%}
            {% elseif(user_type=='user') %}
                {% include('user/layout/footer.twig')%}
            {%else%}
            </div>
        </div>

        {% include('layout/footer.twig')%}
        <link rel="stylesheet" href="assets/plugins/toastr/toastr.min.css">
        <script src="assets/plugins/toastr/toastr.js"></script>
    {%endif%}


    <style type="text/css" media="print">
        @page {
            size: portrait;
        }

        @media print
        {
            body * { visibility: hidden; }
            #print_invoice * { visibility: visible; }
            .panel-heading { display: none !important; }
            body.login .main-login {
                margin-top: 0;
                width: 100%;
                margin-left: 0;
            }
            body.login .logo {
                height: 0;
                margin: 0;
            }
            .invoice {
                margin: 0;
            }
            #print_invoice .table {
                white-space: normal;
            }
            .panel {
                margin-bottom: 0;
            }
            @media (max-width: 767.98px) { 
                #print_invoice .content_section {
                    display: flex !important;
                    flex-direction: row;
                    align-items: center;
                }
            }

        }
    </style>
