           
<!-- start: MAIN CONTAINER -->
<div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">
        <!-- start: PANEL CONFIGURATION MODAL FORM -->
        <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            {{lang('panel_configuration')}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {{lang('here_will_be_a_config')}}                                                                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {{lang('close')}}
                        </button>
                        <button type="button" class="btn btn-primary">
                            {{lang('save_changes')}}
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- end: SPANEL CONFIGURATION MODAL FORM -->
        <div class="container">
            <!-- start: PAGE HEADER -->
            <!-- start: TOOLBAR -->
            <div class="toolbar row">
                <div class="col-sm-4 hidden-xs">
                    <div class="page-header">
                        <h1>{% if(BREADCRUMBS.page_title is not empty)%}{{ lang('menu_name_' ~ BREADCRUMBS.page_title )}}{%else%} {{title}}{%endif%}</h1>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <!-- start: LOGO -->
                    <a class="navbar-brand" href="javascript:;">
                        <!-- <img src="assets/images/logos/{{COMPANY_LOGO}}"> -->
                    </a>
                    <!-- end: LOGO -->
                </div>
                <div class="col-sm-4 col-xs-8">
                    <a href="javascript:void(0)" class="back-subviews">
                        <i class="fa fa-chevron-left"></i> {{lang('back')}}
                    </a>
                    <a href="javascript:void(0)" class="close-subviews">
                        <i class="fa fa-times"></i> {{lang('close')}}
                    </a>
                    <div class="toolbar-tools pull-right">
                        <!-- start: TOP NAVIGATION MENU -->
                        <ul class="nav navbar-right">
                            <!-- start: TO-DO DROPDOWN -->
                            <li class="dropdown">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                                    <i class="fa fa-list"><!-- fa-arrow-circle-down --></i> {{lang('quick_links')}}
                                    <div class="tooltip-notification hide">
                                        <!--  <div class="tooltip-notification-arrow"></div>
                                         <div class="tooltip-notification-inner">
                                             <div>
                                                 <div class="semi-bold">
                                        {{lang('hi_there')}}
                                    </div>
                                    <div class="message">
                                        {{lang('more_options')}}
                                    </div>
                                </div>
                            </div> -->
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-light dropdown-subview">
                                    <li class="dropdown-header">
                                        {{lang('news')}}
                                    </li>
                                    <li>
                                        <a href="admin/news-add" class="new-note"><span class="fa-stack"> <i class="fa fa-file-text-o fa-stack-1x fa-lg"></i> <i class="fa fa-plus fa-stack-1x stack-right-bottom text-danger"></i> </span> {{lang('add_new_news')}}</a>
                                    </li>
                                    <li>
                                        <a href="admin/news-view" class="read-all-notes"><span class="fa-stack"> <i class="fa fa-file-text-o fa-stack-1x fa-lg"></i> <i class="fa fa-share fa-stack-1x stack-right-bottom text-danger"></i> </span> {{lang('read_all_news')}}</a>
                                    </li>
                                    <li class="dropdown-header">
                                        {{lang('events')}}
                                    </li>
                                    <li>
                                        <a href="admin/event-manage" class="new-event"><span class="fa-stack"> <i class="fa fa-calendar-o fa-stack-1x fa-lg"></i> <i class="fa fa-plus fa-stack-1x stack-right-bottom text-danger"></i> </span> {{lang('add_new_events')}}</a>
                                    </li>
                                    <li>
                                        <a href="admin/event-view" class="show-calendar"><span class="fa-stack"> <i class="fa fa-calendar-o fa-stack-1x fa-lg"></i> <i class="fa fa-share fa-stack-1x stack-right-bottom text-danger"></i> </span> {{lang('view_all_events')}}</a>
                                    </li>

                                    {% if LOG_USER_TYPE != 'employee' %}
                                        <li class="dropdown-header">
                                            {{lang('users')}}
                                        </li>
                                        <li>
                                            <a href="{{REG_MODE}}" class="new-contributor"><span class="fa-stack"> <i class="fa fa-user fa-stack-1x fa-lg"></i> <i class="fa fa-plus fa-stack-1x stack-right-bottom text-danger"></i> </span> {{lang('add_new_users')}}</a>
                                        </li>
                                        <li>
                                            <a href="admin/join-report" class="show-contributors"><span class="fa-stack"> <i class="fa fa-user fa-stack-1x fa-lg"></i> <i class="fa fa-share fa-stack-1x stack-right-bottom text-danger"></i> </span> {{lang('view_all_users')}}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                                    <i class="fa fa-envelope"></i><span class="messages-count badge badge-default"></span>  {{lang('messages')}}
                                </a>
                                <ul class="dropdown-menu dropdown-light dropdown-messages" id="message-container">
                                    <div class="padding-10 text-alert"> {{lang('loading')}} </div>
                                </ul>
                            </li>
                        </ul>
                        <!-- end: TOP NAVIGATION MENU -->
                    </div>
                </div>
            </div>
            <!-- end: TOOLBAR -->
            <!-- end: PAGE HEADER -->
            <!-- start: BREADCRUMB -->
            <div class="row">
                <div class="col-md-9">
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{BASE_URL}}">
                                {{lang('menu_name_1')}}
                            </a>
                        </li>
                        {% if BREADCRUMBS.page_header %}
                            <li class="active">
                                <a href="{{BREADCRUMBS.page_header_link}}">
                                    {{lang('menu_name_' ~ BREADCRUMBS.page_header)}}
                                </a>
                            </li>

                            {% if HELP_STATUS and LOG_USER_TYPE != 'employee' %}
                                /
                                <li>
                                    <a href="javascript:void(0)"> <i class="help-button popovers" title="" data-content="{{lang('menu_help_' ~ BREADCRUMBS.page_header)}}" data-placement="right" data-trigger="hover" data-rel="popover" data-original-title="{{lang('menu_name_' ~ BREADCRUMBS.page_header)}}"></i></a>
                                </li>
                            {% endif %}
                        {% endif %}

                    </ol>
                </div>
                <div class="col-md-3">     
                    {% if PRESET_DEMO_STATUS and demo_switcher %}
                        {%include('admin/layout/module_container.twig')%}
                    {% endif %}
                </div>
            </div>
            <!-- end: BREADCRUMB -->
            <!-- start: MAIN CONTENT -->




