{% include('user/layout/header.twig')%}

<link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="assets/css/shCore.css">
<script type="text/javascript" language="javascript" src="assets/js/jquery.dataTables.js">
</script>
<script type="text/javascript" language="javascript" src="assets/js/shCore.js">
</script>
<script type="text/javascript" language="javascript" src="assets/js/lead_datatable.js">
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>

<script type="text/javascript" language="javascript" class="init">

    $(document).ready(function () {
        var oTable = $('#order_return_list').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "user/member/order_return_list",
            "dataType": "json",
            "order": [[ 5, "desc" ]],
            "type": "POST",
            "data": {'{{ CSRF_TOKEN_NAME }}': '{{ CSRF_TOKEN_VALUE }}'},
            "lengthMenu": [[10, 50,100,500,1000], [10,50,100,500,1000]],
        });
    });
</script>
<div id="js_messages" style="display: none;"> 
    <span id="quantity_req_js">{{lang('quantity_req_js')}}</span>
    <span id="reason_req_js">{{lang('reason_req_js')}}</span>      
</div>

{% if return_flag %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('menu_name_182')}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <div class="center">
                            <h4>{{ prod_details.pro_name }}</h4>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="user-image">
                                    <div class="fileupload-new thumbnail"><img src="assets/images/products/{{ prod_details.image }}" alt="">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-condensed table-hover" style='background-color: #F9F4F3'>
                                <thead>
                                    <tr>
                                        <th colspan="3">{{lang('pro_info')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{lang('name')}}</td>
                                        <td>
                                            {{ prod_details.pro_name }}
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td>{{lang('amount')}}</td>
                                        <td>
                                            {{ prod_details.amount }}
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td>{{lang('quantity_ordered')}}</td>
                                        <td>
                                            {{ prod_details.order_placed }}
                                        </td>                                        
                                    </tr>
                                    {% if prod_details.order_returned>0 %}
                                        <tr>
                                            <td>{{lang('quantity_returned')}}</td>
                                            <td>
                                                {{ prod_details.order_returned }}
                                            </td>                                        
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-8">
                        {{ form_open('', ' id="return_form" name="return_form"')|raw }}
                        <div class="form-horizontal"> 
                            {% if prod_details.quantity %}
                                <div class="errorHandler alert alert-danger no-display">
                                    <i class="fa fa-remove-sign"></i> {{ lang('form_error_msg') }}
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{lang('quantity')}} : <span class="symbol required"></span>
                                    </label>
                                    <div class="col-sm-3">
                                        <input class="typeahead form-control" type="number" name="quantity" id="quantity" placeholder="Quantity" min="1" max="{{ prod_details.quantity }}" value="{{ prod_details.quantity }}">
                                        {% if error.quantity is defined %}<code> {{ error.quantity}} </code> {% endif %} 
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{lang('reason')}} : <span class="symbol required"></span>
                                    </label>
                                    <div class="col-sm-5">
                                        <textarea name="reason" id="reason" placeholder="Reason" rows="4" cols="50"></textarea>
                                        {% if error.reason is defined %}<code> {{ error.reason}} </code> {% endif %} 
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">

                                    </label>
                                    <div class="col-sm-4">
                                        <button type="submit"class="btn btn-primary" value="return" name="return">
                                            {{lang('return')}} <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            {% else %}

                                <div class="alert alert-warning">
                                    <button data-dismiss="alert" class="close">
                                        ×
                                    </button>
                                    <strong>{{lang('warning')}}!</strong>
                                    {{lang('you_cant_return_this_product')}}
                                </div>
                            {% endif %}
                        </div>
                        {{ form_close()|raw }}
                    </div>
                </div>




            </div>
        </div>
    </div>                                    
</div>
{% endif %}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{ lang('product_return_history') }}</span></h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="order_return_list">
                        <thead>
                            <tr>                                    
                                <th>{{lang('slno')}}</th>
                                <th>{{lang('product')}}</th>                                
                                <th>{{lang('product_name')}}</th>
                                <th>{{lang('quantity')}}</th>      
                                <th>{{lang('reason')}}</th>
                                <th>{{lang('return_date')}}</th>
                                <th>{{lang('status')}}</th>
                            </tr>
                        </thead>                            
                    </table>
                </div>
            </div>
        </div>
    </div>                                    
</div>

{% include('user/layout/footer.twig')%}
<script>
    jQuery(document).ready(function () {
        valAddMember();
    });

    var valAddMember = function () {
        var form = $('#return_form');
        var errorHandler2 = $('.errorHandler', form);
        var successHandler2 = $('.successHandler', form);
        form.validate({
            errorElement: "span", // contain the error msg in a small tag
            errorClass: 'help-block',
            errorPlacement: function (error, element) { // render error placement for each input type
                error.insertAfter(element);
            },
            ignore: "",
            rules: {
                quantity: {
                    required: true,
                    digits: true
                },
                reason: {
                    minlength: 5,
                    required: true,
                }
            },
            messages: {
                quantity: {                    
                    required: $('#quantity_req_js').html()
                },
                reason: {
                    required: $('#reason_req_js').html()
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                successHandler2.hide();
                errorHandler2.show();
            },
            highlight: function (element) {
                $(element).closest('.help-block').removeClass('valid'); // display OK icon
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error').find('.symbol').removeClass('ok').addClass('required');
                // add the Bootstrap error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element).closest('.form-group').removeClass('has-error');
                // set error class to the control group
            },
            success: function (label, element) {
                label.addClass('help-block valid');
                // mark the current input as valid and display OK icon
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success').find('.symbol').removeClass('required').addClass('ok');
            },
            submitHandler: function (form) {
                successHandler2.show();
                errorHandler2.hide();
                // submit form//$('#form2').submit();

                form.submit();
            }
        });
    };
</script>
<style>
    table.dataTable thead th{border-bottom:1px #111}
    table.dataTable.no-footer{border-bottom:1px #dfe1e5 solid}
</style>