{% include('user/layout/header.twig')%}
<link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="assets/css/shCore.css">
<script type="text/javascript" language="javascript" src="assets/js/jquery.dataTables.js">
</script>
<script type="text/javascript" language="javascript" src="assets/js/shCore.js">
</script> 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" language="javascript" src="assets/js/lead_datatable.js">
</script>
<script type="text/javascript" language="javascript" class="init">

    $(document).ready(function () {
        var oTable = $('#previous_pin').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "user/epin/previous_pin",
            "order": [[ 3, "desc" ]],
            "dataType": "json",
            "type": "POST",
            "data": {'{{ CSRF_TOKEN_NAME }}': '{{ CSRF_TOKEN_VALUE }}'},
            "lengthMenu": [[10, 50,100,500,1000], [10,50,100,500,1000]],
        });
    });
    $(document).ready(function () {
        var oTable = $('#active_pin').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "user/epin/active_pin",
            "dataType": "json",
            "order": [[ 4, "desc" ]],
            "type": "POST",
            "data": {'{{ CSRF_TOKEN_NAME }}': '{{ CSRF_TOKEN_VALUE }}'},
            "lengthMenu": [[10, 50,100,500,1000], [10,50,100,500,1000]],
        });
    });
    $(document).ready(function () {
        var oTable = $('#used_pin').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "user/epin/used_pin",
            "dataType": "json",
            "type": "POST",
            "data": {'{{ CSRF_TOKEN_NAME }}': '{{ CSRF_TOKEN_VALUE }}'},
            "lengthMenu": [[10, 50,100,500,1000], [10,50,100,500,1000]],
        });
    });
</script>
<div id="js_messages" style="display: none;"> 
    <span id="pin_amount_req_js">{{lang('pin_amount_req_js')}}</span>
    <span id="invalid_number_js">{{lang('invalid_number_js')}}</span>
    <span id="pin_count_req_js">{{lang('pin_count_req_js')}}</span>    
</div>            
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('epin_management')}} </span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>                           
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="javascript:#epin_tab1">
                                {{lang('request_pin')}}
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="javascript:#epin_tab2">
                                {{lang('previous_requests')}} <span class="badge badge-danger">{{pin_request_count}}</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="javascript:#epin_tab3">
                                {{lang('available_pin')}} <span class="badge badge-danger">{{pin_active_count}}</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="javascript:#epin_tab4">
                                {{lang('used_pins')}} <span class="badge badge-danger">{{pin_used_count}}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="epin_tab1" class="tab-pane fade in active">

                            {{ form_open('', ' id="pin_request_form" name="pin_request_form"')|raw }}
                            <div class="form-horizontal">
                                <div class="errorHandler alert alert-danger no-display">
                                    <i class="fa fa-remove-sign"></i> {{ lang('form_error_msg') }}
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{lang('pin_amount')}} <b>({{MLM_CURRENCY_LEFT~MLM_CURRENCY_RIGHT}})</b>: <span class="symbol required"></span> 
                                    </label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="number" name="pin_amount" id="pin_amount" placeholder="{{lang('pin_amount')}}">
                                        {% if pin_error.pin_amount is defined %}<code> {{ pin_error.pin_amount}} </code> {% endif %} 

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{lang('pin_count')}}: <span class="symbol required"></span> 
                                    </label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="number" name="pin_count" id="pin_count" placeholder="{{lang('pin_count')}}">
                                        {% if pin_error.pin_count is defined %}<code> {{ pin_error.pin_count}} </code> {% endif %} 
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label">

                                    </label>
                                    <div class="col-sm-4">
                                        <button type="submit"class="btn btn-primary" value="add_request" name="add_request">
                                            {{lang('update')}} <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {{ form_close()|raw }}

                        </div>
                        <div id="epin_tab2" class="tab-pane fade">                            
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped" id="previous_pin">

                                        <thead>
                                            <tr>                                    
                                                <th>{{lang('slno')}}</th>
                                                <th>{{lang('pin_amount')}}</th>
                                                <th>{{lang('pin_count')}}</th>
                                                <th>{{lang('requested_date')}}</th>   
                                                <th>{{lang('status')}}</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                                </div>     
                        </div>
                        <div id="epin_tab3" class="tab-pane fade">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped" id="active_pin">
                                        <thead>
                                            <tr>   
                                                <th>{{lang('slno')}}</th>
                                                <th>{{lang('pin_number')}}</th>
                                                <th>{{lang('pin_amount')}}</th>
                                                <th>{{lang('pin_balance')}}</th>
                                                <th>{{lang('allocate_date')}}</th>
                                                <th>{{lang('expiry_date')}}</th>
                                                <th>{{lang('status')}}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>   
                        </div>
                        <div id="epin_tab4" class="tab-pane fade">
                                <div class="table-responsive">

                                        <table class="table table-hover table-striped" id="used_pin">
                                        <thead>
                                            <tr> 
                                                <th>{{lang('slno')}}</th>
                                                <th>{{lang('pin_number')}}</th>
                                                <th>{{lang('pin_amount')}}</th>
                                                <th>{{lang('pin_balance')}}</th>
                                                <th>{{lang('used_for')}}</th>
                                                <th>{{lang('used_by')}}</th>
                                            </tr>
                                        </thead>
                                        
                                    </table>
                                </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>                                    
    </div>
</div>
{% include('user/layout/footer.twig')%}
<script src="assets/js/user_epin_management.js"></script>
<script>
    jQuery(document).ready(function () {
        validate_add_request();
    });
</script>
<style>
    table.dataTable thead th{border-bottom:1px #111}
    table.dataTable.no-footer{border-bottom:1px #dfe1e5 solid}
</style>
