<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="grid_12"> 
                <div class="copyright"><span class="brand">{{COMPANY_NAME}}</span> &copy; <span id="copyright-year">{{"now"|date('Y')}}</span> | <a href="#">{{lang('privacy_policy')}}</a>
                    <div class="sub-copy">{{lang('site_design_by')}} <a href="{{BASE_URL}}" rel="nofollow">{{COMPANY_NAME}}</a></div>
                </div>
            </div>
        </div>
    </div>  
</footer>
<a href="#" id="toTop" class="fa fa-chevron-up"></a>
</body>
</html>