{% include('shop/layout/header.twig')%}

        <!-- Breadcrumb-area -->
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="{{BASE_URL}}index">Home</a></li>
                        <li><a href="{{BASE_URL}}shop">Shop</a></li>
                        <li class="active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-area -->

        <!-- CART -->
        <section class="cart-main-area pt-115 pb-120 cart-area bg-white">
            <div class="container">
                {% if user_id %}
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content" >
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Until Price</th>
                                            <th>Qty</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--loop item -->
                                        <div id="product_list_view">
                                        {% for car in cart %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/shop/images/product/{{car.image}}"
                                                        alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#">{{car.name}}</a>
                                                    <!-- if -5 quantity label -->
                                                    {%  if (car.quantity < 10) and (car.quantity > 0) %}
                                                    <span class="d-block text-success"> Only  &nbsp;{{car.quantity}} left in stock, order now.</span>
                                                    {% endif %}
                                                    <!-- end if -5 quantity label -->
                                                </td>
                                            <td class="product-price-cart"><span class="amount">{{car.price}}</span></td>
                                            <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus"id="cart-plus-minus" prod-id="{{car.rowid}}">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton_{{loop.index }}" id="qtybutton_{{loop.index }}" min="1" value={{car.qty}} onchange='quantityChange("{{car.rowid}}","{{loop.index}}")'>
                                                </div>
                                                <a class="d-block" onclick="clearProduct('{{car.rowid}}')">Remove</a>
                                            </td>
                                            <!-- <td class="product-price-cart"><span class="amount">{{car.price}}</span></td> -->
                                            <td class="product-subtotal" id="product_amount_total_{{car.rowid}}">{{car.subtotal}}</td>
                                        </tr>
                                        <!--end loop item -->
                                        {% endfor %}
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- EMPTY CART -->
                            <!-- <img src="assets/shop/images/empty-cart.svg" class="empty-cart">
                            <h1 class="empty-cart-title">A shopping basket devoid of any items is a desolate shopping basket. Let's remedy that and fill it up!</h1> -->
                        <!-- END EMPTY CART -->
                    </div>
                    <input type="hidden" value="{{items_count}}" id="items_count"/>
                    <div class="col-lg-4 col-md-12">
                        <div class="grand-totall" id="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            
                            <h5>Price ({{items}}) <span>OMR &nbsp;{{total_items_amount}}</span></h5>
                            <div class="total-shipping">
                                <ul>
                                    <li>Delivery Charges <span>OMR 2.000</span></li>
                                    <li>Secured Packaging Fee <span>OMR 2.000</span></li>
                                </ul>
                            </div>
                            <h4 class="grand-totall-title">Grand Total <span>{{cart_amount}}</span></h4>
                            <a href="{{BASE_URL}}checkout">Checkout Now</a>
                            
                        </div>
                    </div>
                </div>
                {% else %}     
                    <div class="alert alert-danger alert-dismissible alert-label-icon label-arrow fade show"   role="alert">
				<i class="mdi mdi-block-helper label-icon"></i><strong></strong>Checkout Page Not Available.Please Login: <a href="{{BASE_URL}}login-site">Click here</a>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
                {% endif %}    
            </div>
        </section>
        <!-- END CART -->

{% include('shop/layout/footer.twig')%}

<script src="assets/js/cart.js"></script>
