{% include('shop/layout/header.twig')%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet"/>


        <!-- Breadcrumb-area -->
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="{{BASE_URL}}index">Home</a></li>
                        <li><a href="{{BASE_URL}}shop">Shop</a></li>
                        <li class="active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-area -->

        <!-- CART -->
        <section class="cart-main-area pt-115 pb-120 cart-area bg-white">
            <div class="container">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Until Price</th>
                                            <th>Qty</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <!--loop item -->
                                        {% for car in cart %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/shop/images/product/{{car.image}}"
                                                        alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#">{{car.name}}</a>
                                                    <!-- if -5 quantity label -->
                                                    <span class="d-block text-success"> Only 2 left in stock, order now.</span>
                                                    <!-- end if -5 quantity label -->
                                                </td>
                                            <td class="product-price-cart"><span class="amount">{{car.price}}</span></td>
                                            <td class="product-quantity pro-details-quality">
                                                <div class="cart-plus-minus" prod-id="{{car.rowid}}">
                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton"
                                                        value={{car.qty}} >
                                                </div>
                                            
                                                <a class="d-block" onclick="clearProduct('{{car.rowid}}')">Remove</a>
                                            </td>
                                            <!-- <td class="product-price-cart"><span class="amount">{{car.price}}</span></td> -->
                                            <td class="product-subtotal">{{car.subtotal}}</td>
                                        </tr>
                                        <!--end loop item -->
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </form>

                        <!-- EMPTY CART -->
                            <img src="assets/shop/images/empty-cart.svg" class="empty-cart">
                            <h1 class="empty-cart-title">A shopping basket devoid of any items is a desolate shopping basket. Let's remedy that and fill it up!</h1>
                        <!-- END EMPTY CART -->

                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            
                            <h5>Price ({{items}}) <span>OMR &nbsp;{{total_items_amount}}</span></h5>
                            <div class="total-shipping">
                                <ul>
                                    <li>Delivery Charges <span>OMR 2.000</span></li>
                                    <li>Secured Packaging Fee <span>OMR 2.000</span></li>
                                </ul>
                            </div>
                            <h4 class="grand-totall-title">Grand Total <span>{{cart_amount}}</span></h4>
                            <a href="{{BASE_URL}}checkout">Checkout Now</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END CART -->


{% include('shop/layout/footer.twig')%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
$(".qtybutton").click(function(){
  let prod =$(this).parent('div');
  let btnval =$(this).html();
  if(btnval== "+"){
    incrementProduct(prod.attr("prod-id"));
  } else if(btnval== "-") {
    decrementProduct(prod.attr("prod-id"));
  }
  
});

update_cart_view();

function incrementProduct(key) {
    $.ajax({
        url: "cart/add_product_count",
        data: {key: key},
        success: function (res) {
            if (res.trim() == "yes")
            {
                toastr.success('Successfully Increment Product')
                update_cart_view();
                // location.reload();
            }
            else
            {
                var msg = res;//$('#failed_to_add_js').html();
                toastr.error(msg)
            }
        }
    });
}


function decrementProduct(key) {
    $.ajax({
        url: "cart/ded_product_count",
        data: {key: key},
        success: function (res) {
            if (res.trim() == "yes")
            {
                toastr.success('Successfully Decrement Product')
                update_cart_view();
                // location.reload();
            }
            else
            {
                var msg = res;//$('#failed_to_add_js').html();
                toastr.error(msg)
            }
        }
    });
}


function clearProduct(key) {
    $.ajax({
        url: "cart/remove_product",
        data: {key: key},
        success: function (res) {
            if (res.trim() == "yes")
            {
                toastr.success('Successfully Removed Product')
                // show_notification(flag, title, msg);
                update_cart_view();

                setTimeout(function() {
                    location.reload();
                }, 1000);
            }
            else
            {
                var msg = res;//$('#failed_to_add_js').html();
                toastr.error(msg)
            }
        }
    });
}

var refresh_cart = function (chat_data) {

    var remove = $('#remove_js').html();
    var price = $('#price_js').html();
    var quantity = $('#quantity_js').html();
    var desc = $('#description_js').html();
    var no_products = $('#empty_cart_js').html();
    var flag = 1;
    var html = '<ul class="activities">';
    for (var key in chat_data) {
        

     html += '<li id="key_' + key + '" class="messages-item">';
     html += '<div class="row">'

     html += '<div class="col-md-2 col-sm-2 col-xs-2"  style="height: 90px;line-height: 90px; text-align: center;">'
     html += '<img alt="image" src="assets/images/products/' + chat_data[key]['image'] + '" width="95%;" height="auto">'
     html += '</div>'

     html += '<div class="col-md-5 col-sm-5 col-xs-5"> ';
     html += '<span class="text-bold"> ' + chat_data[key]['name'] + ' </span><br/>';
     html += '<span><small>' + price + ' : ' + chat_data[key]['conv_price'] + '</small></span><br/>';
     html += '<span ><small>' + quantity + ' : ' + chat_data[key]['qty'] + '</small></span><br/>';
     html += '<span ><small>' + desc + ' : ' + chat_data[key]['description'] + '</small></span>'
     html += '</div>';

     html += '<div class="col-md-3 col-sm-3 col-xs-3" style="height: 90px;line-height: 90px; text-align: center;">';
     html += '<button class="btn btn-default btn-xs" style="border-radius: 45%!important;" onclick="decrementProduct(' + "'" + key + "'" + ')"> – </button>';
     html += ' <span id="quantity_' + key + '"> <b>' + chat_data[key]['qty'] + ' </b></span> ';
     html += '<button class="btn btn-default btn-xs" style="border-radius: 45%!important;" onclick="incrementProduct(' + "'" + key + "'" + ')"> + </button>';
     html += '</div>';

     html += '<div class="col-md-2 col-sm-2 col-xs-2"  style="height: 90px;line-height: 90px; text-align: center;">'
     html += '<button class="btn btn-red  btn-xs" onclick="clearProduct(' + "'" + key + "'" + ')"> <i class="fa fa-times fa fa-white"></i> </button>';
     html += '</div>';

     html += '</div>';
     html += '</li>';

    //     html += '<li id="key_' + key + '" class="messages-item">';
    //     html += '<div class="row"><div class="col-md-2"><img alt="image" src="assets/images/products/' + chat_data[key]['image'] + '" width="100px;" height="100px;"></div><div class="col-md-6"> ';
    //     html += '<span class="text-bold"> <h4>' + chat_data[key]['name'] + '</h4></span>';
    //     html += '<span class="desc">' + price + ' : ' + chat_data[key]['conv_price'] + '</span><br>';
    //     html += '<span class="desc">' + quantity + ' : ' + chat_data[key]['qty'] + '</span><br>';
    //     html += '<span class="desc">' + desc + ' : ' + chat_data[key]['description'] + '</span><br></div>';
    //     html += '<div class="col-md-4"><button class="btn" onclick="decrementProduct(' + "'" + key + "'" + ')"> – </button>';
    //     html += '<span id="quantity_' + key + '"> ' + chat_data[key]['qty'] + '</span> \n\
    // <button class="btn" onclick="incrementProduct(' + "'" + key + "'" + ')"> + </button><p>';
    //     html += '<div onclick="clearProduct(' + "'" + key + "'" + ')"><img src="assets/images/delete.png" width="15" height="15">' + remove + '</div>'
    //     html += '</div></div><hr></li>';


        flag = 0;
    }
    html += '</ul>';
    if (flag == 1) {
        var html = '<div>' + no_products + '</div>';
    }
    $("#product_list").html(html);
}


var refresh_price = function (chat_data) {
    $("#view_grand_total").html(chat_data['total_amount']);
    $("#view_prod_total").html(chat_data['total_amount']);
    $("#view_prod_count").html(chat_data['items']);
    $("#view_delivery_charge").html(chat_data['delivery_charge']);
    $("#view_shipping_charge").html(chat_data['shipping_charge']);
    $("#view_tax").html(chat_data['tax']);
    $("#view_grand_total").html(chat_data['grand_total']);
}


function update_cart_view() {
    $.getJSON('cart/refresh_cart', function (data) {
        refresh_cart(data);
    });

    $.getJSON('cart/refresh_price', function (data) {
        refresh_price(data);
    });

}

// setInterval(function () {
//     update_cart_view();
// }, 3000);
</script>