<!doctype html>
{%if MLM_LANG_CODE =='en' %} 
<html class="no-js" lang="en">
{%elseif MLM_LANG_CODE =='ar' %}
<html dir="rtl">
{% endif %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="robots" content="noindex, follow" />
	<base href="{{BASE_URL}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />

	<title>Mbay Online Shopping</title>
	<meta name="description" content="Free Web tutorials">
	<meta name="keywords" content="HTML, CSS, JavaScript">


	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/logos/{{COMPANY_FAV_ICON}}">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/logos/{{COMPANY_FAV_ICON}}">
	
	<!-- BASE CSS -->
	{%if MLM_LANG_CODE =='en' %}   
	<link rel="stylesheet" href="assets/shop/css/vendor/bootstrap.min.css">
	{%elseif MLM_LANG_CODE =='ar' %}
	<link rel="stylesheet" href="assets/shop/css/vendor/bootstrap.rtl.min.css">
	<link rel="stylesheet" href="assets/shop/css/theme_rtl.css">
	{% endif %}
	
	<link rel="stylesheet" href="assets/shop/css/style.css">
	<link rel="stylesheet" href="assets/shop/css/custom_style.css">
	<link rel="stylesheet" href="assets/shop/css/vendor/simple-line-icons.css">
	<link rel="stylesheet" href="assets/shop/css/vendor/elegant.css">


	<!-- PAGE CSS -->
	<link rel="stylesheet" href="assets/shop/css/plugins/slick.css">
	<link rel="stylesheet" href="assets/shop/css/plugins/animate.css">
	<link rel="stylesheet" href="assets/shop/css/plugins/jquery-ui.css">
	<input type = "hidden" name = "path_root" id="path_root" value="{{BASE_URL}}"/>
</head>


<head>
	
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="../assets/shop/images/favicon.png">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>

	

	<!-- HEADER -->
	
	<!-- END HEADER -->
	<div class="main-wrapper bg-gray-9">
		
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<?= $page_title ?>
					<!-- end page title -->

					<div class="row">
						<div class="col-lg-10">
							<div class="card">
								<div class="card-body">
									<div class="invoice-title">
										<div class="d-flex align-items-start">
											<div class="flex-grow-1">
												<div class="mb-4">
													<img src="assets/images/logos/{{COMPANY_LOGO}}" alt="" height="24"><span class="logo-txt">{{COMPANY_NAME}}</span>
												</div>
											</div>
											<div class="flex-shrink-0">
												<div class="mb-4">
													<h4 class="float-end font-size-16">{{ invoice_details.invoice_id }}</h4>
												</div>
											</div>
										</div>

										{% set company_data = COMPANY_ADDRESS|split(',')%}
										<p>{{ company_data[0]}}</p>
										<p>{{ company_data[1]}}</p>
										<p>{{ company_data[2]}}</p>
										<p><i class="mdi mdi-email align-middle me-1"></i>{{COMPANY_EMAIL}} </p>
										<p><i class="mdi mdi-phone align-middle me-1"></i>{{COMPANY_PHONE}} </p>
									</div>
									<hr class="my-4">
									<div class="row">
										<div class="col-sm-6">
											<div>
												<h5 class="font-size-15 mb-3">Billed To:</h5>
												<h5 class="font-size-14 mb-2">{{ invoice_details.username }}</h5>
												<p class="mb-1">{{ invoice_details.address }}<br>
													{{ invoice_details.city }},{{ invoice_details.country }},{{ invoice_details.state }}<br>
												{{ invoice_details.zip_code }}</p>
												<!-- <p class="mb-1">RichardSaul@rhyta.com</p> -->
												<!-- <p>337-256-9134</p> -->
											</div>
										</div>
										<div class="col-sm-6">
											<div>
												<div>
													<h5 class="font-size-15">Order Date:</h5>
													<p>{{ invoice_details.invoice_date }}</p>
												</div>

												<div class="mt-4">
													<h5 class="font-size-15">Payment Method:</h5>
													<p class="mb-1">Visa ending **** 4242</p>
													<p>richards@email.com</p>
												</div>
											</div>
										</div>
									</div>

									<div class="py-2 mt-3">
										<h5 class="font-size-15">Order summary</h5>
									</div>
									<div class="p-4 border rounded">
										<div class="table-responsive">
											<table class="table table-nowrap align-middle mb-0">
												<thead>
													<tr>
														<th style="width: 70px;">No.</th>
														<th>Item</th>
														<!-- <th>Quantity</th> -->
														<th class="text-end" style="width: 120px;">Price</th>
														<!-- <th class="text-end" style="width: 120px;">Quantity</th> -->
													</tr>
												</thead>
												<tbody>
													{% for ord_pro in invoice_details.products %}
													<tr>
														<th scope="row">{{ loop.index }}</th>
														<td>
															<h5 class="font-size-15 mb-1">{{ ord_pro.product_name }}</h5>
															<!-- <p class="font-size-13 text-muted mb-0">Bootstrap 5 Admin Dashboard </p> -->
														</td>
		                                                    <!-- <td>
		                                                        <h5 class="font-size-13 mb-1">{{ ord_pro.quantity }}</h5>
		                                                    </td> -->
		                                                    <td class="text-end">{{ ord_pro.amount }}</td>
		                                                </tr>
		                                                {% endfor %}

		                                                <!-- <tr>
		                                                    <th scope="row">02</th>
		                                                    <td>
		                                                        <h5 class="font-size-15 mb-1">Skote</h5>
		                                                        <p class="font-size-13 text-muted mb-0">Bootstrap 5 Admin Dashboard </p>
		                                                    </td>
		                                                    <td class="text-end">$499.00</td>
		                                                </tr> -->

		                                                <tr>
		                                                	<th scope="row" colspan="2" class="text-end">Sub Total</th>
		                                                	<td class="text-end">{{ invoice_details.total }}</td>
		                                                </tr>
		                                                {% if invoice_details.delivery_charge_only > 0 %}
		                                                <tr>
		                                                	<th scope="row" colspan="2" class="text-end">Delivery Charge</th>
		                                                	<td class="text-end">{{ invoice_details.delivery_charge_only }}</td>
		                                                </tr>
		                                                {% endif %}
		                                                {% if invoice_details.shipping_charge_only > 0 %}
		                                                <tr>
		                                                	<th scope="row" colspan="2" class="text-end">Shipping Charge</th>
		                                                	<td class="text-end">{{ invoice_details.shipping_charge_only }}</td>
		                                                </tr>
		                                                {% endif %}
		                                                {% if invoice_details.tax_only > 0 %}
		                                                <tr>
		                                                	<th scope="row" colspan="2" class="text-end">Tax</th>
		                                                	<td class="text-end">{{ invoice_details.tax_only }}</td>
		                                                </tr>
		                                                {% endif %}
		                                                <!-- <tr>
		                                                    <th scope="row" colspan="2" class="border-0 text-end">
		                                                        Tax</th>
		                                                    <td class="border-0 text-end">$12.00</td>
		                                                </tr> -->
		                                                <tr>
		                                                	<th scope="row" colspan="2" class="border-0 text-end">Total</th>
		                                                	<td class="border-0 text-end">
		                                                		<h4 class="m-0">{{ invoice_details.total_amount }}</h4>
		                                                	</td>
		                                                </tr>
		                                            </tbody>
		                                        </table>
		                                    </div>
		                                </div>
		                                <div class="d-print-none mt-3">
		                                	<div class="float-end">
		                                		<a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1">
		                                			<i class="fa fa-print"></i>
		                                		</a>
		                                	</div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <!-- end row -->
		            </div>
		        </div> <!-- container-fluid -->
		    </div>
		    <!-- End Page-content -->
		</div>

	</body>

	</html>