{% include('admin/layout/header.twig')%}
<link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="assets/css/shCore.css">
<script type="text/javascript" language="javascript" src="assets/js/jquery.dataTables.js">
</script>
<script type="text/javascript" language="javascript" src="assets/js/shCore.js">
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" language="javascript" src="assets/js/lead_datatable.js">
</script>
<script type="text/javascript" language="javascript" class="init">

    $(document).ready(function () {
        var oTable = $('#donation_index').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "admin/donation/donation_index",
            "dataType": "json",
            "order": [[ 5, "desc" ]],
            "type": "POST",
            "data": {'{{ CSRF_TOKEN_NAME }}': '{{ CSRF_TOKEN_VALUE }}'},
            "lengthMenu": [[10, 50,100,500,1000], [10,50,100,500,1000]],
        });
    });
</script>
<div id="js_messages" style="display: none;">
    <span id="username_req_js">{{lang('username_req_js')}}</span>
    <span id="inv_username_js">{{lang('inv_username_js')}}</span>
    <span id="to_date_req_js">{{lang('to_date_req_js')}}</span>
    <span id="to_date_gt_from_date_js">{{lang('to_date_gt_from_date_js')}}</span>
    <span id="from_date_req_js">{{lang('from_date_req_js')}}</span>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('donate_amount')}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                {{ form_open_multipart('', ' id="donation_search" name="donation_search"')|raw }}
                <div class="form-horizontal">
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> {{ lang('form_error_msg') }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('username')}} : <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <input class="typeahead form-control" type="text" name="username" id="username" placeholder="{{lang('username')}}" autocomplete="off">
                             <div  id="full_name">

                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('from_date')}}: <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input name="from_date" id="from_date" type="text" data-date-format="yyyy-mm-dd" data-date-viewmode="years" class="form-control date-picker" placeholder="{{lang('from_date')}}">
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('to_date')}}: <span class="symbol required"></span>
                        </label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input name="to_date" id="to_date" type="text" data-date-format="yyyy-mm-dd" data-date-viewmode="years" class="form-control date-picker" placeholder="{{lang('to_date')}}">
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">

                        </label>
                        <div class="col-sm-4">
                            <button type="submit"class="btn btn-primary" value="don_search" name="don_search">
                                {{lang('search')}} <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_close()|raw }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('user_donations')}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped" id="donation_index">
                            <thead>
                                <tr>
                                    <th>{{lang('slno')}}</th>
                                    <th>{{lang('from_user')}}</th>
                                    <th>{{lang('to_user')}}</th>
                                    <th>{{lang('amount')}}</th>
                                    <th>{{lang('reap_amount')}}</th>
                                    <th>{{lang('date')}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
{% include('admin/layout/footer.twig')%}
<link rel="stylesheet" href="assets/plugins/datepicker/css/datepicker.css">
<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="assets/js/lead_date_picker.js"></script>
<script src="assets/js/donation.js"></script>
<script src="assets/js/typeahead.js"></script>
<script>
    jQuery(document).ready(function () {
        valDonationSearch();
        DpElements.init();
    });

    $('input.typeahead').typeahead({
        source: function (query, process) {
            var url = "admin/member/get_usernames";
            return $.get(url, {query: query}, function (data) {
                data = $.parseJSON(data);
                return process(data);
            });
        }
    });

</script>
<style>
    table.dataTable thead th{border-bottom:1px #111}
    table.dataTable.no-footer{border-bottom:1px #dfe1e5 solid}
</style>
