{% include('admin/layout/header.twig') %}
<div class='row'>
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{ lang('menu_name_183') }}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
                <div class="pull-right">
                    <a onclick='javascript:window.print();' class="btn btn-lg btn-light-blue hidden-print" align='center'>
                        {{lang('print')}} <i class="fa fa-print"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <div class="invoice-box" id="company_invoice">
                    <table cellpadding="0" cellspacing="0">
                        <tr class="top">
                            <td colspan="5">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img src="assets/images/logos/{{COMPANY_LOGO}}" style="width: 165px;height: 65px;">
                                        </td>

                                        <td>
                                            {{lang('invoice_id')}} : <b>{{ invoice_details.invoice_id }}</b><br>
                                            {{lang('order_id')}} : <b>{{ invoice_details.order_id }}</b><br>
                                            {{lang('date')}} : {{ invoice_details.invoice_date }}<br>
                                        </td>
                                    </tr>
                                </table>
                                <hr>
                            </td>
                        </tr>

                        <tr class="information">
                            <td colspan="5">
                                <table>
                                    <tr>
                                        <td>
                                            <b>{{lang('from')}}</b> : {{ COMPANY_NAME }}<br>
                                            {{ COMPANY_ADDRESS|striptags }}<br>
                                            {{lang('email')}} : {{ COMPANY_EMAIL }}<br>
                                            {{lang('phone_number')}} : {{ COMPANY_PHONE }}
                                        </td>

                                        <td>
                                            <b>{{lang('to')}}</b> : {{ invoice_details.username }}<br>
                                            {{ invoice_details.address }}<br>
                                            {{ invoice_details.city }},{{ invoice_details.country }},{{ invoice_details.state }}<br>
                                            {{ invoice_details.zip_code }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>                        

                        <tr class="heading">
                            <td>
                                {{lang('slno')}}
                            </td>
                            <td>
                                {{lang('product_name')}}
                            </td>

                            <td>
                                {{lang('quantity')}}
                            </td>

                            <td>
                                {{lang('price_per_unit')}}
                            </td>                            

                            <td>
                                {{lang('grand_total')}}
                            </td>
                        </tr>

                        {% for ord_pro in invoice_details.products %}
                            <tr class="item">
                                <td>     
                                    {{ loop.index }}
                                </td>
                                <td>
                                    {{ ord_pro.product_name }}
                                </td>

                                <td>
                                    {{ ord_pro.quantity }}
                                </td>
                                <td>
                                    {{ ord_pro.amount }}
                                </td>

                                <td>
                                    {{ ord_pro.product_total }}
                                </td>
                            </tr> 
                        {% endfor %}            

                        <tr class="total">
                            <td colspan="3"></td>

                            <td>
                                {{lang('total')}} :
                            </td>

                            <td>
                                {{ invoice_details.total }}
                            </td>
                        </tr>

                        <tr class="total">
                            <td colspan="3"></td>

                            <td>
                                {{lang('total_pv')}} :
                            </td>

                            <td>
                                {{ invoice_details.total_pv }}
                            </td>
                        </tr>


                        {% if invoice_details.delivery_charge_only > 0 %}
                            <tr class="total">
                                <td colspan="3"></td>

                                <td>
                                    {{lang('delivery_charge')}} :
                                </td>

                                <td>
                                    {{ invoice_details.delivery_charge }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if invoice_details.shipping_charge_only > 0 %}
                            <tr class="total">
                                <td colspan="3"></td>

                                <td>
                                    {{lang('shipping_charge')}} :
                                </td>

                                <td>
                                    {{ invoice_details.shipping_charge }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if invoice_details.tax_only > 0 %}
                            <tr class="total">
                                <td colspan="3"></td>

                                <td>
                                    {{lang('tax')}} :
                                </td>

                                <td>
                                    {{ invoice_details.tax }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr class="total">
                            <td colspan="3"></td>

                            <td>
                                {{lang('total_amount')}} :
                            </td>

                            <td>
                                {{ invoice_details.total_amount }}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include('admin/layout/footer.twig') %}

<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: center;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }

    @media print {
        body * { visibility: hidden; }
        #company_invoice * { visibility: visible; }
        #company_invoice { position: absolute; top: 0px; }
    }
</style>