{% include('admin/layout/header.twig')%}
<link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="assets/css/shCore.css">
<script type="text/javascript" language="javascript" src="assets/js/jquery.dataTables.js">
</script>
<script type="text/javascript" language="javascript" src="assets/js/shCore.js">
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" language="javascript" src="assets/js/lead_datatable.js">
</script>
<script type="text/javascript" language="javascript" class="init">

    $(document).ready(function () {
        var oTable = $('#pending_reg_list').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "admin/member/pending_reg_list",
            "dataType": "json",
            "order": [[ 5, "desc" ]],
            "type": "POST",
            "data": {'{{ CSRF_TOKEN_NAME }}': '{{ CSRF_TOKEN_VALUE }}'},
            "lengthMenu": [[10, 50,100,500,1000], [10,50,100,500,1000]],
        });
    });
</script>
<div id="js_messages" style="display: none;"> 
    <span id="are_you_sure_js">{{lang('are_you_sure_js')}}</span>
    <span id="confirm_this_register_js">{{lang('confirm_this_register_js')}}</span>
    <span id="confirm_it_js">{{lang('confirm_it_js')}}</span>
    <span id="cancel_it_js">{{lang('cancel_it_js')}}</span>
    <span id="order_safe_js">{{lang('order_safe_js')}}</span>
    <span id="canceled_js">{{lang('canceled_js')}}</span>
    <span id="delete_this_order_js">{{lang('delete_this_order_js')}}</span>
    <span id="delete_it_js">{{lang('delete_it_js')}}</span>
    <span id="register_safe_js">{{lang('register_safe_js')}}</span>
    <span id="delete_this_register_js">{{lang('delete_this_register_js')}}</span>    
    <span id="please_wait">{{lang('please_wait')}}</span>    
    <span id="we_r_working_on_it">{{lang('we_r_working_on_it')}}</span>  
</div>     
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('pending_register')}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="pending_reg_list">
                        <thead>
                            <tr>                                    
                                <th>{{lang('slno')}}</th>
                                <th>{{lang('username')}}</th>
                                <th>{{lang('email')}}</th>
                                <th>{{lang('reg_amount')}}</th>
                                <th>{{lang('payment_method')}}</th>
                                <th>{{lang('register_date')}}</th>
                                <th>{{lang('action')}}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>                                    
    </div>
</div>
{% include('admin/layout/footer.twig')%}

<link href="assets/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
<script src="assets/plugins/sweetalert/lib/sweet-alert.min.js"></script>
<script src="assets/js/pending_register.js"></script>
<style>
    table.dataTable thead th{border-bottom:1px #111}
    table.dataTable.no-footer{border-bottom:1px #dfe1e5 solid}
</style>