{% include('admin/layout/header.twig')%}

<link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="assets/css/shCore.css">
<script type="text/javascript" language="javascript" src="assets/js/jquery.dataTables.js">
</script>
<script type="text/javascript" language="javascript" src="assets/js/shCore.js">
</script>
<script type="text/javascript" language="javascript" src="assets/js/lead_datatable.js">
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>

<script type="text/javascript" language="javascript" class="init">

    $(document).ready(function () {
        var oTable = $('#order_return_list').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "admin/member/order_return_list",
            "dataType": "json",
            "order": [[ 5, "desc" ]],
            "type": "POST",
            "data": {'{{ CSRF_TOKEN_NAME }}': '{{ CSRF_TOKEN_VALUE }}'},
            "lengthMenu": [[10, 50,100,500,1000], [10,50,100,500,1000]],
        });
    });
</script>

<div id="js_messages" style="display: none;"> 
    <span id="success_js">{{lang('success_js')}}</span>
    <span id="failed_js">{{lang('failed_js')}}</span>
    <span id="status_updated_js">{{lang('status_updated_js')}}</span>
    <span id="failed_to_update_js">{{lang('failed_to_update_js')}}</span>
    
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{title}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="order_return_list">
                        <thead>
                            <tr>                                    
                                <th>{{lang('slno')}}</th>
                                <th>{{lang('username')}}</th>                                
                                <th>{{lang('product_name')}}</th>
                                <th>{{lang('quantity')}}</th>      
                                <th>{{lang('reason')}}</th>
                                <th>{{lang('return_date')}}</th>
                                <th>{{lang('status')}}</th>
                            </tr>
                        </thead>                            
                    </table>
                </div>
            </div>
        </div>
    </div>                                    
</div>
{% include('admin/layout/footer.twig')%}
<style>
    table.dataTable thead th{border-bottom:1px #111}
    table.dataTable.no-footer{border-bottom:1px #dfe1e5 solid}
</style>

<script>
    function changeReturnStatus(ret_id) {
        var field = "#ret_status_" + ret_id;
        if ($(field).val()) {
            $.ajax({url: "admin/member/change_return_status",
                data: {ret_id: ret_id, status: $(field).val()},
                async: false,
                success: function (msg) {
                    if (msg == 'yes') {
                        var flag = "success";
                        var msg = $('#status_updated_js').html();
                        var title = $('#success_js').html();
                        show_notification(flag, title, msg);
                    } else {
                        var flag = "error";
                        var msg = $('#failed_to_update_js').html();
                        var title = $('#failed_js').html();
                        show_notification(flag, title, msg);
                    }
                }
            });
        }
    }
</script>
