{% include 'admin/layout/header.twig'%}
<div style="display: none;">
    <span id="msg1">{{lang('user_name_required')}}</span>
    <span id="msg2">{{lang('affiliate_password_req')}}</span>
    <span id="msg4">{{lang('confirm_password_req')}}</span>
    <span id="msg5">{{lang('confirm_password_match')}}</span>
    <span id="msg7">{{lang('user_name_valid')}}</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{title}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                {{form_open('','methd="post" name="change_affiliate_password" id="change_affiliate_password"')|raw}}
                <div class="form-horizontal">                                            
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> {{ lang('form_error_msg') }}
                    </div>                    
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{lang('username')}} :<span class="symbol required"></span>
                        </label>
                        <div class="input-group col-sm-4">
                            <input type="text" class="form-control typeahead" name="affiliate_username" id="affiliate_username" placeholder="{{lang('username')}}" autocomplete="off" tabindex='1'>
                            <div  id="full_name">

                            </div>
                            {% if error.affiliate_username is defined %}<code> {{ error.affiliate_username}}</code> {% endif %}
                        </div>
                    </div>                        
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{lang('affiliate_password')}} :<span class="symbol required"></span>
                        </label>
                        <div class="input-group col-sm-4">

                            <input type="password" class="form-control" name="affiliate_password" id="affiliate_password" placeholder="{{lang('affiliate_password')}}" autocomplete="off" tabindex='2'>
                            {% if error.affiliate_password is defined %}<code> {{ error.affiliate_password}}</code> {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{lang('confirm_password')}} :<span class="symbol required"></span>
                        </label>
                        <div class="input-group col-sm-4">

                            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="{{lang('confirm_password')}}" autocomplete="off" tabindex='3'>
                            {% if error.confirm_password is defined %}<code> {{ error.confirm_password}}</code> {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">

                        </label>
                        <div class="col-sm-4">
                            <button class="btn btn-primary" type="submit"  name="reset_pass" id="reset_pass" value="reset_pass">
                                {{lang('submit')}} <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>                
                {{form_close()|raw}}
            </div>
        </div>
    </div>
</div>
{% include 'admin/layout/footer.twig'%}
<script src="assets/js/typeahead.js"></script>
<script src="assets/js/affiliate_change_pass.js"></script>

<script type='text/javascript'>
    $(document).ready(function () {
        validateaffiliateChangePassword();
    });

    $('input.typeahead').typeahead({
        source: function (query, process) {
            var url = "admin/affiliates/get_affiliate_usernames";
            return $.get(url, {query: query}, function (data) {
                data = $.parseJSON(data);
                return process(data);
            });
        }
    });
</script>