{% include('admin/partials/head-main.twig')%}
<head>
    <base href="{{ base_url() }}" />
    <?= $title_meta ?>

{% include('admin/partials/head-css.twig')%}
    <link href="assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables -->
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

    <link href="assets/libs/dropify/dropify.min.css" rel="stylesheet" type="text/css" />

</head>

{% include('admin/partials/body.twig')%}
<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include('admin/partials/menu.twig')%}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            {%include('admin/layout/notification.twig')%}
            <div class="container-fluid">

                <!-- start page title -->
                <?= $page_title ?>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> <i class="bx bxs-edit-alt"></i>Site Settings</h4>
                            </div>
                            {{ form_open_multipart('', 'class="update_form" id="update_form" name="update_form"')|raw }}
                            
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="edit-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">General</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="address-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Image</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="col-lg-12 ms-lg-auto">
                                                    
                                                    <div class="mt-4 mt-lg-0">
                                                        <div class="row mb-4">
                                                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Company Name</label>
                                                             
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="company_name" id="horizontal-firstname-input" value="{{site_info.company_name}}">
                                                                {% if login_error.company_name is defined %}<code> {{ login_error.company_name}} </code> {% endif %}
                                                           
                                                            </div>
                                                        </div>

                                                        <div class="row mb-4">
                                                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Address</label>
                                                            <div class="col-sm-9">
                                                            <textarea class="form-control ckeditor" type="text" rows="4" cols="60" name="company_address" id="company_address" placeholder='{{lang('address')}}'>{{site_info['company_address']}}</textarea>
                                                            {% if login_error.company_address is defined %}<code> {{ login_error.company_address}} </code> {% endif %}
                                                            </div>
                                                        </div>

                                                        <div class="row mb-4">
                                                            <label for="horizontal-email-input" class="col-sm-3 col-form-label">Company Email</label>
                                                            <div class="col-sm-9">
                                                                <input type="company_email" class="form-control" name="company_email" id="horizontal-email-input"  value="{{site_info.company_email}}">
                                                             {% if login_error.company_email is defined %}<code> {{ login_error.company_email}} </code> {% endif %}
                                                           
                                                            </div>
                                                        </div>

                                                        <div class="row mb-4">
                                                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Company Phone Number</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control"  name="company_phone" id="horizontal-firstname-input" value="{{site_info.company_phone}}">
                                                             {% if login_error.company_phone is defined %}<code> {{ login_error.company_phone}} </code> {% endif %}
                                                          
                                                            </div>
                                                        </div> 
                                                        <div class="row mb-4">
                                                            <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Google Analytics</label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" type="text" name="google_analytics" id="google_analytics" placeholder='{{lang('google_analytics')}}' value="{{site_info['google_analytics']}}">
                                                             {% if login_error.company_phone is defined %}<code> {{ login_error.company_phone}} </code> {% endif %}
                                                          
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="address-tab">
                             
                                    <div class="card-body p-4"> 
                                        <div class="row">
                                            <div class="col-lg-12 ms-lg-auto">
                                                <div class="mt-4 mt-lg-0">
                                                    <div class="col-lg-6">
                                                        <label>Company Logo</label>
                                                        <div class="dropify-wrapper mb-4 form-group col-lg-6">
                                                            <div class="dropify-errors-container">
                                                            <ul></ul>
                                                            </div>
                                                            <input type="file" class="dropify" data-default-file="assets/images/{{site_info.company_logo}}" name="company_logo" id="company_logo" />
                                                                <button class="dropify-clear" type="button">Remove</button>
                                                                    <span class="dropify-render"></span>
                                                                        <p class="dropify-filename"><span class="file-icon"></span>
                                                                        <span class="dropify-filename-inner"></span></p>
                                                                        <p class="dropify-infos-message">Drag and drop or click to replace</p>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="col-lg-6">
                                                        <label>Fav Icon</label>
                                                        <div class="dropify-wrapper mb-4 form-group col-lg-6">
                                                            <div class="dropify-errors-container">
                                                            <ul></ul>
                                                            </div>
                                                            <input type="file" class="dropify" data-default-file="assets/images/{{site_info.company_fav_icon}}" name="company_fav_icon" id="company_fav_icon" />
                                                                <button class="dropify-clear" type="button">Remove</button>
                                                                    <span class="dropify-render"></span>
                                                                        <p class="dropify-filename"><span class="file-icon"></span>
                                                                        <span class="dropify-filename-inner"></span></p>
                                                                        <p class="dropify-infos-message">Drag and drop or click to replace</p>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-9">
                                <div>
                                    <button type="submit" name="update_site_info" value="update" class="btn btn-primary w-md">Update</button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                        {{form_close()|raw}}
                    </div>
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        {% include('admin/partials/footer.twig')%}
        </div>
        
        <!-- end main content-->
    </div>
</div>
<!-- END layout-wrapper -->


{% include('admin/partials/right-sidebar.twig')%}
<!-- JAVASCRIPT -->
{% include('admin/partials/vendor-scripts.twig')%}
<script src="assets/js/app.js"></script>
<script src="assets/libs/flatpickr/flatpickr.min.js"></script>

<!-- Required datatable js -->
<script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Responsive examples -->
<script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="assets/js/pages/dashboard.init.js"></script>
<script src="assets/js/pages/invoices-list.init.js"></script>

<script src="assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="assets/libs/jszip/jszip.min.js"></script>
<script src="assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
 
<!-- <script src="assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="assets/js/pages/form-editor.init.js"></script>  -->
<script src="assets/libs/dropzone/min/dropzone.min.js"></script>


<!-- Responsive examples -->
<script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<!-- dashboard init -->
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- App js -->
<script src="assets/js/app.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/libs/dropify/dropify.min.js"></script>
<script>

var imgUpload = $('.dropify').dropify({
    imgFileExtensions: ["png", "jpg", "jpeg", "gif", "bmp","svg"]
});

</script>
</body>

</html>