{% include('admin/layout/header.twig')%}
<link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="assets/css/shCore.css">
<script type="text/javascript" language="javascript" src="assets/js/jquery.dataTables.js">
</script>
<script type="text/javascript" language="javascript" src="assets/js/shCore.js">
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" language="javascript" src="assets/js/lead_datatable.js">
</script>
<script type="text/javascript" language="javascript" class="init">

    $(document).ready(function () {
        var oTable = $('#event_list').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "admin/events/event_list",
            "dataType": "json",
            "type": "POST",
            "data": {'{{ CSRF_TOKEN_NAME }}': '{{ CSRF_TOKEN_VALUE }}'},
            "lengthMenu": [[10, 50,100,500,1000], [10,50,100,500,1000]],
        });
    });
</script>
<div id="js_messages" style="display: none;"> 
    <span id="are_you_sure_js">{{lang('are_you_sure_js')}}</span>
    <span id="edit_this_event_js">{{lang('edit_this_event_js')}}</span>
    <span id="edit_it_js">{{lang('edit_it_js')}}</span>
    <span id="cancel_pls_js">{{lang('cancel_pls_js')}}</span>
    <span id="canceled_js">{{lang('canceled_js')}}</span>
    <span id="event_safe_js">{{lang('event_safe_js')}}</span>    
    <span id="delete_it_js">{{lang('delete_it_js')}}</span>
    <span id="delete_this_event_js">{{lang('delete_this_event_js')}}</span>
    <span id="activate_this_event_js">{{lang('activate_this_event_js')}}</span>
    <span id="activate_it_js">{{lang('activate_it_js')}}</span>
    <span id="inactivate_this_event_js">{{lang('inactivate_this_event_js')}}</span>
    <span id="inactivate_it_js">{{lang('inactivate_it_js')}}</span>

    <span id="event_name_req_js">{{lang('event_name_req_js')}}</span>
    <span id="event_desc_req_js">{{lang('event_desc_req_js')}}</span>
    <span id="event_type_req_js">{{lang('event_type_req_js')}}</span>
    <span id="event_date_req_js">{{lang('event_date_req_js')}}</span>
    <span id="event_time_req_js">{{lang('event_time_req_js')}}</span>
    <span id="event_intervell_req_js">{{lang('event_intervell_req_js')}}</span>    
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('event_management')}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                {{ form_open_multipart('', ' id="add_event_form" name="add_event_form"')|raw }}
                <div class="form-horizontal">
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> {{ lang('form_error_msg') }}
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('event_name')}} :<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" name="event_name" id="event_name" placeholder='{{lang('event_name')}}' value="{{ data.event_name }}" tabindex='1' style="text-transform: capitalize;">
                            {% if(error.event_name)%}<code>{{error.event_name}} </code>{% endif%}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('event_desc')}} :
                        </label>
                        <div class="col-sm-8">
                            <textarea class="form-control ckeditor" type="text" rows="4" cols="60" name="event_desc" id="event_desc" tabindex='2'>{{ data.event_desc }}</textarea>
                            {% if(error.event_desc)%}<code>{{error.event_desc}} </code>{% endif%}
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{lang('event_type')}} :<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-6">
                            <select class="form-control search-select" id="event_type" name="event_type" tabindex='3'>
                                <option value="">{{ lang('select_a_event_type')}}</option>
                                <option {% if data.event_type=='single_day' %} selected {% endif %} value="single_day">{{ lang('single_day')}}</option>
                                <option {% if data.event_type=='multiple_day' %} selected {% endif %} value="multiple_day">{{ lang('multiple_day')}}</option>
                            </select>                            
                            {% if(error.event_type)%}<code>{{error.event_type}} </code>{% endif%}
                        </div>
                    </div>

                    <div class="form-group" id="multiple_event" {% if data.event_type!='multiple_day' %}style="display:none"{% endif%} >
                        <label class="col-sm-3 control-label">
                            {{lang('event_intervell')}} :<span class="symbol required"></span>
                        </label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                <input type="text" class="form-control date-time-range" name="event_intervell" id="event_intervell" value="{{data.event_intervell}}" tabindex='4'>
                            </div>
                            {% if(error.event_intervell)%}<code>{{error.event_intervell}} </code>{% endif%}
                        </div>
                    </div>

                    <div id="single_event" {% if data.event_type!='single_day' %}style="display:none"{% endif%}>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                {{lang('event_date')}} :<span class="symbol required"></span>
                            </label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input name="event_date" id="event_date" type="text"  data-date-viewmode="years" class="form-control date-picker" value="{{ data.event_date }}" tabindex='5'>
                                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                </div>

                                {% if(error.event_date)%}<code>{{error.event_date}} </code>{% endif%}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                {{lang('event_time')}} :<span class="symbol required"></span>
                            </label>
                            <div class="col-sm-6">
                                <div class="input-group input-append bootstrap-timepicker">
                                    <input name="event_time" id="event_time" type="text" class="form-control time-picker" value="{{ data.event_time }}" tabindex='6'>
                                    <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                </div>

                                {% if(error.event_time)%}<code>{{error.event_time}} </code>{% endif%}
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">

                        </label>
                        <div class="col-sm-4">
                            {% if edit_flag %}                                
                                <button type="submit"class="btn btn-primary" value="{{event_id}}" name="update_event" id="update_event" onclick="validateEventContent()">

                                    {{lang('update')}} <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            {% else %}
                                <button type="submit"class="btn btn-primary" value="add" name="add_event" id="add_event" onclick="validateEventContent()">
                                    {{lang('add')}} <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {{ form_close()|raw }}
            </div>
        </div>
    </div>                                    
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('events')}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>

                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="event_list">
                        <thead>
                            <tr>                                    
                                <th>{{lang('slno')}}</th>
                                <th>{{lang('event_name')}}</th>
                                <th>{{lang('event_desc')}}</th>
                                <th>{{lang('event_date')}}</th>
                                <th>{{lang('action')}}</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>                                    
    </div>
</div>
{% include('admin/layout/footer.twig')%}
<link rel="stylesheet" href="assets/plugins/select2/select2.css">		
<link rel="stylesheet" href="assets/css/plugins.css">
<script src="assets/plugins/select2/select2.min.js"></script>
<script src="assets/js/form-elements.js"></script>

<script src="assets/plugins/ckeditor/ckeditor.js"></script>
<link href="assets/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
<script src="assets/plugins/sweetalert/lib/sweet-alert.min.js"></script>
<link rel="stylesheet" href="assets/plugins/datepicker/css/datepicker.css">
<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="assets/js/lead_date_picker.js"></script>
<link rel="stylesheet" href="assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
<script src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="assets/js/lead_time_picker.js"></script>
<link rel="stylesheet" href="assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css">
<script src="assets/js/lead_date_range_picker.js"></script>
<script src="assets/js/event_management.js"></script>
<script>
                                    jQuery(document).ready(function () {
                                        DpElements.init();
                                        DtElements.init();
                                        DrpElements.init();
                                        FormElements.init2();
                                    });
</script>
<style>
    table.dataTable thead th{border-bottom:1px #111}
    table.dataTable.no-footer{border-bottom:1px #dfe1e5 solid}
</style>
