{% include('admin/partials/head-main.twig')%}

<head>
    <base href="{{ base_url() }}" />
    <?= $title_meta ?>
    <!-- DataTables -->
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"
          type="text/css" />
    <link href="assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" href="assets/libs/imageupload/dist/image-uploader.min.css">
    <?= $this->include('partials/head-css') ?>
    {% include('admin/partials/head-css.twig')%}
</head>
<div id="js_messages" style="display: none;"> 
    <span id="are_you_sure_js">{{lang('are_you_sure_js')}}</span>
    <span id="cancel_it_js">{{lang('cancel_it_js')}}</span>
    <span id="canceled_js">{{lang('canceled_js')}}</span>
    <span id="product_safe_js">{{lang('product_safe_js')}}</span>
    <span id="delete_this_product_js">{{lang('delete_this_product_js')}}</span>
    <span id="delete_it_js">{{lang('delete_it_js')}}</span>
</div>
{% include('admin/partials/body.twig')%}
<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include('admin/partials/menu.twig')%}

    <!-- ============================================================== -->
    <!-- Start right Content here -->

    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                {% include('admin/layout/notification.twig') %}
                <!-- start page title -->
                <?= $page_title ?>
                <h4 class="panel-title">
                    <span class="text-bold">
                        {% if edit_flag %}
                            {{lang('update_product')}}
                        {% else %}
                            {{lang('add_product')}}
                        {% endif %}
                    </span>
                </h4>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <!-- {{ form_open_multipart('', ' id="product_form" name="product_form" class="dropzone"')|raw }} -->
                                    {# <form id="product-management-id"  method="post" enctype="multipart/form-data"> #}
                                    {{ form_open_multipart('', ' id="pristine-valid-example" name="product_management_id"')|raw }}
                                    <input type="hidden" />
                                    <div class="row">
                                        <div class="col-xl-6 col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Product Name</label>
                                                <input type="text" class="form-control" id="product_name"
                                                       name="product_name" value="{{ product.product_name }}" />
                                                <input type="hidden" name="submit" value="edit" />
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Product Amount</label>
                                                <input type="text" class="form-control" name="product_amount"
                                                       id="product_amount" value="{{ product.product_amount }}" />
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Quantity</label>
                                                <input type="text" class="form-control" name="quantity" id="quantity"
                                                       value="{{ product.quantity }}" />
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Category</label>
                                                <select class="form-control search-select" id="category" name="category"
                                                        tabindex='9'>
                                                    <option value="">{{ lang('select_a_category')}}</option>
                                                    {% for cts in categories %}
                                                        <option value="{{cts.id}}" {% if product.category==cts.id %}
                                                                selected {% endif %}>{{cts.category}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Brand</label>
                                                <select class="form-control search-select" id="brand" name="brand"
                                                        tabindex='9'>
                                                    <option value="">{{ lang('select_a_brand')}}</option>
                                                    {% for brand in brands %}
                                                        <option value="{{brand.id}}" {% if product.brand==brand.id %}
                                                                selected {% endif %}>{{brand.brand_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Sort Order</label>
                                                <input type="text" class="form-control" name="sort_order"
                                                       id="sort_order" value="{{ product.sort_order }}" />
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Keyword</label>
                                                <input type="text" class="form-control" name="keyword" id="keyword"
                                                       value="{{ product.keyword }}" />
                                            </div>
                                        </div>
                                        {# <div class="col-xl-6 col-md-6">
                                                <div class="form-group mb-3">
                                                    <label>Description</label>
                                                    <div class="col-sm-12">
                                                        <textarea required data-pristine-required-message="Please Enter a Description" class="ckeditor"  rows="2" cols="36" name="description" id="description" value="{{ product.description }}">{{ product.description }}</textarea>
                                                    </div>
                                                </div>
                                            </div> #}

                                        <div class="col-xl-12 col-md-12">
                                            <div class="form-group mb-3">
                                                <label>Description</label>
                                                <div class="col-sm-12">
                                                    <textarea name="description" class="form-control"
                                                              id="ckeditor-classic">
                                                        {{ product.description }}</textarea>
                                                    <span id="errordescription"></span>
                                                    {# <textarea required data-pristine-required-message="Please Enter a Description" class="ckeditor"  rows="2" cols="36" name="description" id="ckeditor-classic" value="{{ category.description }}">{{ category.description }}</textarea> #}
                                                </div>
                                            </div>
                                        </div>




                                        {% if edit_flag %}
                                            <div class="form-group input-field ">
                                                <label class="active form-group">Images</label>
                                                <div class="input-images-2" style="padding-top: .5rem;">

                                                </div>
                                                <br />
                                            </div>
                                        {% else %}
                                            <div class="form-group input-field">
                                                <label class="active form-group">Images</label>
                                                <div class="input-images-1" style="padding-top: .5rem;">

                                                </div>
                                                <br />
                                            </div>
                                        {% endif %}


                                        <div class="col-xl-12 col-md-12">
                                            <div class="form-group mb-3">
                                                <input type="checkbox" class="grey agree" id="deal_of_the_day" name="deal_of_the_day" {% if product.deal_of_the_day %} checked {% endif %} tabindex='4'> Deal of the day    
                                            </div>
                                        </div>


                                        {# 
                                        <div class="text-center mt-4">
                                            <button type="button" class="btn btn-primary waves-effect waves-light" name="dsfghdf">Send
                                                Files</button>
                                        </div> #}
                                        <div class="col-xl-6 col-md-6">

                                            <div class="form-group">

                                                {% if edit_flag %}
                                                    <button type="submit" class="btn btn-primary" value="{{ product_id }}"
                                                            name="update_product" id="update_product">
                                                        {{lang('update')}} <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-primary" value="add_product"
                                                            name="add_product">
                                                        {{lang('submit')}} <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end row -->
                                    {# </form> #}
                                    {{ form_close()|raw }}
                                     <input type='hidden' id='edit_flag' value='{{edit_flag}}'/>
                                    <!-- {{ form_close()|raw }} -->
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                {% if not edit_flag %}

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>{{ lang('product_name') }}</th>
                                                <th>{{ lang('product_amount') }}</th>
                                                <th>{{ lang('quantity') }}</th>
                                                <th>{{ lang('action') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in data %}
                                                <tr>
                                                    <td>{{loop.index}}</td>
                                                    <td>{{row.product_name}}</td>
                                                    <td>{{row.product_amount}}</td>
                                                    <td>{{row.quantity}}</td>
                                                    <td><a href="{{BASE_URL}}admin/product-manage/edit/{{row.id}}" button type="submit" class="btn btn-primary"><i
                                                                class="fas fa-pencil-alt"></i></a>&nbsp;<a href="javascript:product_delete({{row.id}})" button type="submit" class="btn btn-danger"><i class="fa fa-trash fa fa-white"></i></a>
                                                            </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% include('admin/partials/footer.twig')%}
</div>
<!-- end main content-->
</div>
<!-- END layout-wrapper -->


{% include('admin/partials/right-sidebar.twig')%}
<!-- JAVASCRIPT -->
{% include('admin/partials/vendor-scripts.twig')%}


<!-- Required datatable js -->
<script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="assets/libs/jszip/jszip.min.js"></script>
<script src="assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="assets/js/pages/datatables.init.js"></script>

<script src="assets/libs/dropzone/min/dropzone.min.js"></script>

<script src="assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="assets/js/pages/form-editor.init.js"></script>

<script type="text/javascript" src="assets/libs/imageupload/dist/image-uploader.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
        integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="assets/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
<script src="assets/plugins/sweetalert/lib/sweet-alert.min.js"></script>
<script src="assets/js/products.js"></script>

{# <script src="assets/js/app.js"></script> #}

<script>
    $(function () {
        validate_product();
    });


    var validate_product = function () {
    var form = $('#pristine-valid-example');
     var flag='{{edit_flag}}';
    var errorHandler1 = $('.errorHandler', form);
    var successHandler1 = $('.successHandler', form);
    $(form).validate({
        ignore: [],
            errorElement: "div", // contain the error msg in a span tag
            errorClass: 'invalid-feedback',
            errorPlacement: function (error, element) { // render error placement for each input type
                if (element.hasClass("ck-editor")) {
                    error.insertBefore(element);
                } else if (element.attr("name") == "description") {
                    $("#errordescription").append(error);
                } else {
                    error.appendTo($(element).closest('.form-group'));
                }
            },

            rules: {
                // "images[]": {
                //     required: true,
                // },
                 "images[]":{
                   required: function(){
                            if(flag>0){
                             var image= $('input[type=file]').val().replace(/.*(\/|\\)/, '');
                            return (image!='')?true:false; 
                             }else{
                            return true;

                            }
                        },
                },
           
                product_name: {
                    required: true,
                },
                quantity: {
                    required: true,
                    digits: true
                },
                description: {
                    ckeditor_required: true,
                },
                product_amount: {
                    required: true,
                    digits: true
                },
                category: {
                    required: true,
                },
                brand: {
                    required: true,
                },
                sort_order: {
                    required: true,
                },
                keyword: {
                    required: true,
                }

            },
            messages: {
                "images[]": "Please select Image",
                product_name: {
                    required: 'Required',
                },
                quantity: {
                    required: 'Required',
                    digits: 'Only Number Format',
                },
                description: {
                    ckeditor_required: 'Required',
                },
                product_amount: {
                    required: 'Required',
                    digits: 'Only Number Format',
                },
                category: {
                    required: 'Required',
                },
                brand: {
                    required: 'Required',
                },
                sort_order: {
                    required: 'Required',
                },
                keyword: {
                    required: 'Required',
                }
            },
            invalidHandler: function (event, validator) {

                successHandler1.hide();
                errorHandler1.show();
            },
            highlight: function (element) {
                $(element).closest('.form-control').removeClass('is-invalid');
                //display Checkbox invalid Data
                $(element).closest('.checkbox').removeClass('is-invalid').addClass('is-valid');
                // display OK icon
                $(element).closest('.form-control').removeClass('is-valid').addClass('is-invalid').find(
                    '.symbol').removeClass('ok').addClass('required');
                // add the Bootstrap error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                //display Checkbox invalid Data

                $(element).closest('.checkbox').removeClass('is-invalid').addClass('is-valid');
                $(element).closest('.form-control').removeClass('is-invalid').addClass('is-valid').find(
                    '.symbol').removeClass('ok').addClass('required');
                // set error class to the control group
            },
            success: function (label, element) {
                //display Checkbox invalid Data
                $(element).closest('.checkbox').removeClass('is-invalid').addClass('is-valid');
                $(element).closest('.form-control').removeClass('is-invalid').addClass('is-valid').find(
                    '.symbol').removeClass('ok').addClass('required');
                // mark the current input as valid and display OK icon
            },
            submitHandler: function (form) {
                successHandler1.show();
                errorHandler1.hide();
                form.submit();
            }
        });
};

</script>

<script>
    var product_id = {{ product_id }};

    var image = {{ cat_img|json_encode|raw }};
    $('.input-images-2').imageUploader({
        preloaded: image,
        maxFiles: 10
    });

    $('.delete-image').on('click', function () {
        var parent = $(this).parent().children("input").val();
        $.ajax({
            url: "admin/product/product_manage_imageDelete",

            data: {
                parent: parent,
                product_id: product_id
            },
            success: function (res) {
                console.log($res);
            }
        });

    })
</script>

</body>

</html>