{% include('admin/partials/head-main.twig')%}
<head>
    <base href="{{ base_url() }}" />
    <?= $title_meta ?>

{% include('admin/partials/head-css.twig')%}
    <link href="assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables -->
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

</head>

<div id="js_messages" style="display: none;"> 
    <span id="first_name_req_js">{{lang('first_name_req_js')}}</span>   
    <span id="last_name_req_js">{{lang('last_name_req_js')}}</span>   
    <span id="email_req_js">{{lang('email_req_js')}}</span>   
    <span id="phone_number_req_js">{{lang('phone_number_req_js')}}</span>   
    <span id="address_1_req_js">{{lang('address_1_req_js')}}</span>   
    <span id="city_req_js">{{lang('city_req_js')}}</span>   
    <span id="country_req_js">{{lang('country_req_js')}}</span>   
    <span id="zip_code_req_js">{{lang('zip_code_req_js')}}</span>   
    <span id="current_password_req_js">{{lang('current_password_req_js')}}</span>   
    <span id="new_password_req_js">{{lang('new_password_req_js')}}</span>   
    <span id="confirm_password_req_js">{{lang('confirm_password_req_js')}}</span>   
    <span id="password_mismatch_js">{{lang('password_mismatch_js')}}</span>   
    
</div>

{% include('admin/partials/body.twig')%}
<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include('admin/partials/menu.twig')%}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            {%include('admin/layout/notification.twig')%}
            <div class="container-fluid">

                <!-- start page title -->
                <?= $page_title ?>
                <h4 class="panel-title">
                    <span class="text-bold">Profile </span>
                </h4>
                 
                <div class="row">
                    <div class="card"> <br/>
                        <div class="col-lg-12">
                            <div class="card" style="border: transparent">
                                {# <div class="card-header">
                                    <h4 class="card-title"> <i class="bx bxs-edit-alt"></i> Edit Customer</h4>
                                </div> #}
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="edit-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">General</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="address-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Address</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#profile1" type="button" role="tab" aria-controls="profile1" aria-selected="false">Password</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="card-body p-4">
                                            <div class="row">
                                                <div class="col-lg-12 ms-lg-auto">
                                                    {{ form_open('', 'class="update_form" id="update_form" name="update_form"')|raw }}
                                                    <div class="mt-4 mt-lg-0">
                                                            <div class="row mb-4">
                                                                <label for="horizontal-firstname-input" class="col-sm-2 col-form-label">First name <span class="text-danger">*</span></label>
                                                                
                                                                 <input type="hidden" value="{{user_details.user_id}}" id="user_id" name="user_id">
                                                                <div class="form-group col-sm-9">
                                                                    <input type="text" class="form-control" name="first_name" id="first_name" value="{{user_details.first_name}}">
                                                                 
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4">
                                                                <label for="horizontal-firstname-input" class="col-sm-2 col-form-label">Last name <span class="text-danger">*</span></label>
                                                                <div class="form-group col-sm-9">
                                                                    <input type="text" class="form-control"  name="last_name" id="horizontal-firstname-input" value="{{user_details.last_name}}">
                                                                 {% if login_error.last_name is defined %}<code> {{ login_error.last_name}} </code> {% endif %}
                                                               
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">Email <span class="text-danger">*</span></label>
                                                                <div class="form-group col-sm-9">
                                                                    <input type="email" class="form-control" name="email" id="horizontal-email-input" readonly value="{{user_details.email}}">
                                                                 {% if login_error.email is defined %}<code> {{ login_error.email}} </code> {% endif %}
                                                               
                                                                </div>
                                                            </div>

                                                            <div class="row mb-4">
                                                                <label for="horizontal-firstname-input" class="col-sm-2 col-form-label">Phone <span class="text-danger">*</span></label>
                                                                <div class="form-group col-sm-9">
                                                                    <input type="text" class="form-control"  name="phone_number" id="horizontal-phone-input" value="{{user_details.phone_number}}">
                                                                 {% if login_error.phone_number is defined %}<code> {{ login_error.phone_number}} </code> {% endif %}
                                                              
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-sm-12">
                                                                    <div>
                                                                        <button type="submit" name="general" value="general" class="btn btn-primary w-md">Submit <i class="fa fa-arrow-circle-right"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                         
                                                    </div>
                                                    {{form_close()|raw}}
                                                </div>
                                            </div>
                                            {# <div class="card-header">
                                                <h4 class="card-title"> <i class="bx bx-lock-alt"></i> Password</h4>
                                            </div> #}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="address-tab">
                                       
                                        {{ form_open('', 'class="address_form" id="address_form" name="address_form"')|raw }}
                                        <div class="card-body p-4"> 
                                            {# <div class="card-header">
                                              <h5 class="card-title">Address</h5>
                                             </div> #}
                                             {# <br> #}
                                            <div class="row">
                                                <div class="col-lg-12 ms-lg-auto">
                                                    <div class="mt-4 mt-lg-0">
                                                            <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">Addressline 1 <span class="text-danger">*</span></label>
                                                                <div class="form-group col-sm-9">
                                                                    <input type="text" class="form-control" id="address_1" name="address_1" value="{{user_details.address_1}}">
                                                                </div>
                                                            </div>
                                                                 <input type="hidden" value="{{user_details.user_id}}" id="user_id" name="user_id">

                                                             <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">Addressline 2</label>
                                                                <div class="form-group col-sm-9">
                                                                    <input type="text" class="form-control" id="address_2" name="address[0][address_2]"  value="{{user_details.address_2}}">
                                                                </div>
                                                            </div>
                                                             <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">City <span class="text-danger">*</span></label>
                                                                <div class="form-group col-sm-9">
                                                                    <input type="text" class="form-control" id="city"  name="city"  value="{{user_details.city}}">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">Country <span class="text-danger">*</span></label>
                                                                <div class="form-group col-sm-9">
                                                                    <select name="country_id" id="country_id" class="form-control search-select" tabindex='4'>
                                                                    <option value="">{{ lang('select_a_country') }}</option>
                                                                    {% for cntrs in countries %}
                                                                        <option value="{{ cntrs.id }}" {% if user_details.country==cntrs.id %} selected {% endif %}>{{ cntrs.name|raw }}</option>
                                                                    {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                       
                                                            <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">State</label>
                                                                <div class="form-group col-sm-9">
                                                                    <span class="input-icon" id="state_span">
                                                                    <select name="state" id="state" class="form-control search-select" tabindex='4'>
                                                                    <option value="">{{ lang('select_a_state') }}</option>
                                                                    {% for sts in states %}
                                                                        <option value="{{ sts.id }}" {% if user_details.state==sts.id %} selected {% endif %}>{{ sts.name|raw }}</option>
                                                                    {% endfor %}
                                                                    </select>
                                                                </span>
                                                                </div>
                                                            </div>

                                                            <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">Zip <span class="text-danger">*</span></label>
                                                                <div class="form-group col-sm-9">
                                                                    <input type="text" class="form-control" id="zip_code"  name="zip_code" value="{{user_details.zipcode}}">
                                                                </div>
                                                            </div>
                                                            {# <div class="form-check form-check-right mb-3 ">
                                                                <input class="form-check-input" type="radio" name="default" value="0"  checked id="default" >
                                                                <label class="form-check-label" for="default">
                                                                   Default
                                                                </label>
                                                            </div> #}
                                                    </div> 
                                                </div>
                                            </div>
                                            {% set j = 1 %}
                                            {% if user_details.add_address  %}
                                            {% for add_dress in user_details.add_address %}
                                            <div class="card-header">
                                              <h5 class="card-title">Address{{ j }}</h5>
                                            </div>
                                                 <br>
                                            <div class="row">
                                                <div class="col-lg-12 ms-lg-auto">
                                                    <div class="mt-4 mt-lg-0">
                                                      
                                                             <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">Addressline 1</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="address_1" name="address[{{j}}][address_1]" value="{{user_details.address_1}}">
                                                                </div>
                                                            </div>
                                                             <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">Addressline 2</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="address_2" name="address[{{j}}][address_2]"  value="{{user_details.address_2}}">
                                                                </div>
                                                            </div>
                                                             <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">City</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="city"  name="address[{{j}}][city]" value="{{user_details.city}}">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">country</label>
                                                                <div class="col-sm-9">
                                                                    <select name="country_id" id="country_id" class="form-control search-select" tabindex='4'>
                                                                    <option value="">{{ lang('select_a_country') }}</option>
                                                                    {% for cntrs in countries %}
                                                                        <option value="{{ cntrs.id }}" {% if user_details.country==cntrs.id %} selected {% endif %}>{{ cntrs.name|raw }}</option>
                                                                    {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4">
                                                                <label for="horizontal-email-input" class="col-sm-2 col-form-label">Zip code</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" id="zip_code"  name="address[{{j}}][zip_code]" value="{{user_details.zip_code}}">
                                                                </div>
                                                            </div>
                                                             <div class="form-check form-check-right mb-3 ">
                                                                <input class="form-check-input" type="radio" name="default" value="{{j}}" id="formRadiosRight1" >
                                                                <label class="form-check-label" for="formRadiosRight1">
                                                                   Default
                                                                </label>
                                                            </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                              {% set j = j + 1 %}
                                              {% endfor %}  
                                              {% endif  %}
                                              <input type="hidden" value="{{j}}" id="total_chq">
                                              <span id="add_address_view"></span>
                                                {# <div class="row mb-4">
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                            <a class="btn btn-primary" onclick="myaddresss()"><i class="bx bx-plus"></i> Add Address</a>
                                                    </div>
                                                 </div> #}
                                                    <div class="row justify-content-end">
                                                        <div class="col-sm-12">
                                                            <div>
                                                                <button type="submit" name="add_address" value="add_address"id="add_address" class="btn btn-primary w-md">Submit <i class="fa fa-arrow-circle-right"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                        {{form_close()|raw}}
                                    </div>
                                    <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="password-tab">
                                       
                                        {{ form_open('', 'class="password_form" id="password_form" name="password_form"')|raw }}
                                        <div class="card-body p-4">
                                            <div class="mt-4 mt-lg-0">
                                                <div class="row mb-4">
                                                    <label for="horizontal-password-input" class="col-sm-2 col-form-label">Current Password <span class="text-danger">*</span></label>
                                                        <div class="form-group col-sm-9">
                                                            <input type="password" class="form-control" name="current_password" id="current_password">
                                                        </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-password-input" class="col-sm-2 col-form-label">New Password <span class="text-danger">*</span></label>
                                                        <div class="form-group col-sm-9">
                                                            <input type="password" class="form-control" name="password" id="password">
                                                            <input type="hidden" value="{{user_details.user_id}}" id="user_id">
                                                        </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-password-input" class="col-sm-2 col-form-label">Confirm Password <span class="text-danger">*</span></label>
                                                        <div class="form-group col-sm-9">
                                                            <input type="password" class="form-control" name="confirm_password" id="confirm_password">
                                                        </div>
                                                </div>
                                                <div class="row justify-content-end">
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <button type="submit" name="update_password" value="update_password" class="btn btn-primary w-md">Submit <i class="fa fa-arrow-circle-right"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{form_close()|raw}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


    {% include('admin/partials/footer.twig')%}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->


{% include('admin/partials/right-sidebar.twig')%}
<!-- JAVASCRIPT -->
{% include('admin/partials/vendor-scripts.twig')%}
<script src="assets/js/app.js"></script>
<script src="assets/libs/flatpickr/flatpickr.min.js"></script>

<!-- Required datatable js -->
<script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Responsive examples -->
<script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="assets/js/pages/dashboard.init.js"></script>
<script src="assets/js/pages/invoices-list.init.js"></script>

<script src="assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="assets/libs/jszip/jszip.min.js"></script>
<script src="assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<!-- dashboard init -->
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="assets/js/admin_profile.js"></script>
<script>
    function myaddresss(){
        var myDatfa = {{ countries|json_encode|raw }};

        var count = $('#total_chq').val();
        var html ='<div class="card-body p-4">';
         html +='<div class="card-header">';
         html += '<h5 class="card-title"> Address'+ count +'</h5></div><br><div class="row">';
         html += '<div class="col-lg-12 ms-lg-auto"><div class="mt-4 mt-lg-0"><div class="row mb-4">';
         html += '<label for="horizontal-email-input" class="col-sm-2 col-form-label">Address 1</label><div class="col-sm-9"><input type="text" class="form-control" id="address_1" name="address['+ count +'][address_1]" ></div></div>';
         html += '<div class="row mb-4"><label for="horizontal-email-input" class="col-sm-2 col-form-label">Address 2</label><div class="col-sm-9"> <input type="text" class="form-control" id="address_2" name="address['+ count +'][address_2]" ></div></div>';
         html += '<div class="row mb-4"><label for="horizontal-email-input" class="col-sm-2 col-form-label">City</label><div class="col-sm-9"><input type="text" class="form-control" id="city"  name="address['+ count +'][city]"> </div></div>';
      
         html += '<div class="row mb-4"><label for="horizontal-email-input" class="col-sm-2 col-form-label">country</label>'; 
         html += '<div class="col-sm-9" > ';
         html += '<select id="country" name="address['+ count +'][country_id]" class="form-control">';
          html +=  ' <option value="">Select Country</option>';
            $.each(myDatfa, function (key, value) {
            html += '<option value="' + value.id + '">' + value.name + '</option>';
            });
        html += '</select>';
        html +='</div> </div>';
        html += '<div class="row mb-4"> <label for="horizontal-email-input" class="col-sm-2 col-form-label">Zip code</label><div class="col-sm-9"> <input type="text" class="form-control" id="zip_code"  name="address['+ count +'][zip_code]"></div> </div>';
        html += '<div class="form-check form-check-right mb-3 "><input class="form-check-input" type="radio" name="default" value="'+ count +'" id="formRadiosRight1" ><label class="form-check-label" for="formRadiosRight1"> Default</label> </div>';
        count +=1;
        $('#total_chq').val(count);
        $('#add_address_view').append(html);
    }
</script>

</body>

</html>