{% include('admin/partials/head-main.twig')%}
<head>
    <base href="{{ base_url() }}" />
    <?= $title_meta ?>

{% include('admin/partials/head-css.twig')%}
    <link href="assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables -->
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

</head>

{% include('admin/partials/body.twig')%}
<!-- <body data-layout="horizontal"> -->

<!-- Begin page -->
<div id="layout-wrapper">

    {% include('admin/partials/menu.twig')%}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            {%include('admin/layout/notification.twig')%}
            <div class="container-fluid">

                <!-- start page title -->
                <?= $page_title ?>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> <i class="bx bxs-edit-alt"></i> Edit Customer</h4>
                            </div>
                             <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="edit-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">General</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="address-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Addresses</button>
                            </li>
                            </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                  <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-lg-12 ms-lg-auto">
                                             {{ form_open('', 'class="update_form" id="update_form" name="update_form"')|raw }}
                                        <div class="mt-4 mt-lg-0">
                                                <div class="row mb-4">
                                                    <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">First name</label>
                                                    
                                                     <input type="hidden" value="{{details.user_id}}" id="user_id" name="user_id">
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" name="first_name" id="horizontal-firstname-input" value="{{details.first_name}}">
                                                     {% if login_error.first_name is defined %}<code> {{ login_error.first_name}} </code> {% endif %}
                                                   
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Last name</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control"  name="last_name" id="horizontal-firstname-input" value="{{details.last_name}}">
                                                     {% if login_error.last_name is defined %}<code> {{ login_error.last_name}} </code> {% endif %}
                                                   
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Email</label>
                                                    <div class="col-sm-9">
                                                        <input type="email" class="form-control" name="email" id="horizontal-email-input" readonly value="{{details.email}}">
                                                     {% if login_error.email is defined %}<code> {{ login_error.email}} </code> {% endif %}
                                                   
                                                    </div>
                                                </div>

                                                 <div class="row mb-4">
                                                    <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Telephone</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control"  name="phone_number" id="horizontal-firstname-input" value="{{details.phone_number}}">
                                                     {% if login_error.phone_number is defined %}<code> {{ login_error.phone_number}} </code> {% endif %}
                                                  
                                                    </div>
                                                </div>
                                                <div class="row justify-content-end">
                                                    <div class="col-sm-9">
                                                        <div>
                                                            <button type="submit" name="general" value="general" class="btn btn-primary w-md">Submit</button>
                                                    
                                                      
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                        </div>
                                         {{form_close()|raw}}
                                    </div>
                                </div>
                            <div class="card-header">
                                <h4 class="card-title"> <i class="bx bx-lock-alt"></i> Password</h4>
                            </div>
                            <br>
                                <div class="row">
                                    <div class="col-lg-12 ms-lg-auto">
                                           {{ form_open('', 'class="password_form" id="password_form" name="password_form"')|raw }}

                                        <div class="mt-4 mt-lg-0">
                                                <div class="row mb-4">
                                                    <label for="horizontal-password-input" class="col-sm-3 col-form-label">Password</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" class="form-control" name="password" id="horizontal-password-input">
                                                     {% if login_error.password is defined %}<code> {{ login_error.password}} </code> {% endif %}
                                                     <input type="hidden" value="{{details.user_id}}" id="user_id">
                                                   
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-password-input" class="col-sm-3 col-form-label">Confirm Password</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" class="form-control" name="confirm_password" id="horizontal-password-input">
                                                     {% if login_error.confirm_password is defined %}<code> {{ login_error.confirm_password}} </code> {% endif %}
                                                    
                                                    </div>
                                                </div>
                                                <div class="row justify-content-end">
                                                    <div class="col-sm-9">
                                                        <div>
                                                            <button type="submit" name="update_password" value="update_password" class="btn btn-primary w-md">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                        </div>
                                         {{form_close()|raw}}
                                    </div>
                                </div>
                            </div>
                         </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="address-tab">
                           
                             {{ form_open('', 'class="address_form" id="address_form" name="address_form"')|raw }}
                             <div class="card-body p-4"> 
                                <div class="card-header">
                                  <h5 class="card-title">Address</h5>
                                 </div>
                                 <br>
                                 <div class="row">
                                    <div class="col-lg-12 ms-lg-auto">
                                        <div class="mt-4 mt-lg-0">
                                                <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Address 1</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="address_1" name="address[0][address_1]" value="{{details.address_1}}">
                                                    </div>
                                                </div>
                                                     <input type="hidden" value="{{details.user_id}}" id="user_id" name="user_id">

                                                 <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Address 2</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="address_2" name="address[0][address_2]"  value="{{details.address_2}}">
                                                    </div>
                                                </div>
                                                 <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">City</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="city"  name="address[0][city]"  value="{{details.city}}">
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">country</label>
                                                    <div class="col-sm-9">
                                                        <select name="country_id" id="country_id" class="form-control search-select" tabindex='4'>
                                                        <option value="">{{ lang('select_a_country') }}</option>
                                                        {% for cntrs in countries %}
                                                            <option value="{{ cntrs.id }}" {% if details.country==cntrs.id %} selected {% endif %}>{{ cntrs.name|raw }}</option>
                                                        {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Zip code</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="zip_code"  name="address[0][zip_code]" value="{{details.zip_code}}">
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-right mb-3 ">
                                                    <input class="form-check-input" type="radio" name="default" value="0"  checked id="default" >
                                                    <label class="form-check-label" for="default">
                                                       Default
                                                    </label>
                                                </div>
                                        </div> 
                                    </div>
                                 </div>
                                {% set j = 1 %}
                                {% if details.add_address  %}
                                {% for add_dress in details.add_address %}
                                <div class="card-header">
                                  <h5 class="card-title">Address{{ j }}</h5>
                                </div>
                                     <br>
                                <div class="row">
                                    <div class="col-lg-12 ms-lg-auto">
                                        <div class="mt-4 mt-lg-0">
                                          
                                                 <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Address 1</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="address_1" name="address[{{j}}][address_1]" value="{{details.address_1}}">
                                                    </div>
                                                </div>
                                                 <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Address 2</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="address_2" name="address[{{j}}][address_2]"  value="{{details.address_2}}">
                                                    </div>
                                                </div>
                                                 <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">City</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="city"  name="address[{{j}}][city]" value="{{details.city}}">
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">country</label>
                                                    <div class="col-sm-9">
                                                        <select name="country_id" id="country_id" class="form-control search-select" tabindex='4'>
                                                        <option value="">{{ lang('select_a_country') }}</option>
                                                        {% for cntrs in countries %}
                                                            <option value="{{ cntrs.id }}" {% if details.country==cntrs.id %} selected {% endif %}>{{ cntrs.name|raw }}</option>
                                                        {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Zip code</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="zip_code"  name="address[{{j}}][zip_code]" value="{{details.zip_code}}">
                                                    </div>
                                                </div>
                                                 <div class="form-check form-check-right mb-3 ">
                                                    <input class="form-check-input" type="radio" name="default" value="{{j}}" id="formRadiosRight1" >
                                                    <label class="form-check-label" for="formRadiosRight1">
                                                       Default
                                                    </label>
                                                </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                  {% set j = j + 1 %}
                                  {% endfor %}  
                                  {% endif  %}
                                  <input type="hidden" value="{{j}}" id="total_chq">
                                  <span id="add_address_view"></span>
                                    <div class="row mb-4">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <a class="btn btn-primary" onclick="myaddresss()"><i class="bx bx-plus"></i> Add Address</a>
                                        </div>
                                     </div>
                                        <div class="row justify-content-end">
                                            <div class="col-sm-9">
                                                <div>
                                                    <button type="submit" name="add_address" value="add_address"id="add_address" class="btn btn-primary w-md">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                        {{form_close()|raw}}
                        </div>
                        
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


    {% include('admin/partials/footer.twig')%}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->


{% include('admin/partials/right-sidebar.twig')%}
<!-- JAVASCRIPT -->
{% include('admin/partials/vendor-scripts.twig')%}
<script src="assets/js/app.js"></script>
<script src="assets/libs/flatpickr/flatpickr.min.js"></script>

<!-- Required datatable js -->
<script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Responsive examples -->
<script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="assets/js/pages/dashboard.init.js"></script>
<script src="assets/js/pages/invoices-list.init.js"></script>

<script src="assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="assets/libs/jszip/jszip.min.js"></script>
<script src="assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<!-- dashboard init -->
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    function myaddresss(){
        var myDatfa = {{ countries|json_encode|raw }};

        var count = $('#total_chq').val();
        var html ='<div class="card-body p-4">';
         html +='<div class="card-header">';
         html += '<h5 class="card-title"> Address'+ count +'</h5></div><br><div class="row">';
         html += '<div class="col-lg-12 ms-lg-auto"><div class="mt-4 mt-lg-0"><div class="row mb-4">';
         html += '<label for="horizontal-email-input" class="col-sm-3 col-form-label">Address 1</label><div class="col-sm-9"><input type="text" class="form-control" id="address_1" name="address['+ count +'][address_1]" ></div></div>';
         html += '<div class="row mb-4"><label for="horizontal-email-input" class="col-sm-3 col-form-label">Address 2</label><div class="col-sm-9"> <input type="text" class="form-control" id="address_2" name="address['+ count +'][address_2]" ></div></div>';
         html += '<div class="row mb-4"><label for="horizontal-email-input" class="col-sm-3 col-form-label">City</label><div class="col-sm-9"><input type="text" class="form-control" id="city"  name="address['+ count +'][city]"> </div></div>';
      
         html += '<div class="row mb-4"><label for="horizontal-email-input" class="col-sm-3 col-form-label">country</label>'; 
         html += '<div class="col-sm-9" > ';
         html += '<select id="country" name="address['+ count +'][country_id]" class="form-control">';
          html +=  ' <option value="">Select Country</option>';
            $.each(myDatfa, function (key, value) {
            html += '<option value="' + value.id + '">' + value.name + '</option>';
            });
        html += '</select>';
        html +='</div> </div>';
        html += '<div class="row mb-4"> <label for="horizontal-email-input" class="col-sm-3 col-form-label">Zip code</label><div class="col-sm-9"> <input type="text" class="form-control" id="zip_code"  name="address['+ count +'][zip_code]"></div> </div>';
        html += '<div class="form-check form-check-right mb-3 "><input class="form-check-input" type="radio" name="default" value="'+ count +'" id="formRadiosRight1" ><label class="form-check-label" for="formRadiosRight1"> Default</label> </div>';
        count +=1;
        $('#total_chq').val(count);
        $('#add_address_view').append(html);
    }
</script>
<!-- App js -->
<script src="assets/js/app.js"></script>
</body>

</html>