{% include('admin/layout/header.twig')%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="text-bold">{{lang('menu_name_154')}}</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>{{ lang('collapse') }}</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>{{ lang('refresh') }}</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>{{ lang('full_screen') }}</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <hr>
                <p>
                    {% if news|length %}
                    <div id="timeline">
                        <div class="timeline">
                            <div class="spine"></div>

                            <ul class="columns">
                                {% set last_news = 0 %}
                                {% for ns in news %}
                                    {% set last_news= ns.id %}
                                    {% if ns.new_month %}
                                        <div class="date_separator" id="november" data-appear-top-offset="-400">
                                            <span>{{ns.month}}</span>
                                        </div>
                                    {% endif %}
                                    <li>
                                        <div class="timeline_element partition-{{ns.color}}">
                                            <div class="timeline_date">
                                                <div>
                                                    <div class="inline-block">
                                                        <span class="day text-bold">{{ns.day}}</span>
                                                    </div>
                                                    <div class="inline-block">
                                                        <span class="block week-day text-extra-large">{{ns.day_char}}</span>
                                                        <span class="block month text-large text-light">{{ns.month}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="timeline_content">
                                                <div class="row">
                                                    {% if ns.image %}
                                                        <div class="col-md-3 col-xs-4">
                                                            <img src="assets/images/news/{{ns.image}}" alt="offce" class="img-responsive">
                                                        </div>
                                                        <div class="col-md-9 col-xs-8">
                                                            <b><h2>{{ns.title}} </h2></b> 
                                                            <div class="note-short-content panel-scroll height-180">
                                                                {{ns.content|raw }}
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <b><h2>{{ns.title}} </h2></b> 
                                                        <div class="note-short-content panel-scroll height-180">
                                                            {{ns.content|raw }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                {% endfor %}                            
                                <span id="next_news"></span>
                            </ul>
                        </div>
                    </div>

                    <input type="hidden" name="last_news" id="last_news" value="{{last_news}}">
                {% else %}

                    <h4 align="center">{{lang('no_news_available')}}</h4>

                {% endif %}
            </div>
        </div>
    </div>                                    
</div>
{% include('admin/layout/footer.twig')%}
<script src="assets/js/news_view.js"></script>
